/* Empty. Add your own CSS if you like */


.slider {
  height: 100%;
  background-color: none !important;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: none !important;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
 /* height: 300px;*/
}

.slider img {
	/*height: 300px;*/
	width: 100%;
}

.bar-header {
   height:1.66rem;


}
.bar-header .title {
   height: 1.66rem;
   line-height: 1.66rem;
}

.has-header {
   top: 1.66rem;
}

input[type=”button”], input[type=”submit”], input[type=”reset”] {-webkit-appearance: none;}

:-moz-placeholder { 
    color: #635F6B;  
}

::-moz-placeholder { 
    color: #635F6B;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #635F6B;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #635F6B;
}

.item-content {
  padding:0rem !important;
}
.item {
  border:0rem !important;
  margin-bottom: 0.1rem !important;
}



