<ion-view class="exam-view">

  	<ion-content>
      <div class="main1">
    
       <div class="cstestrig"><!-- 财商测试右边 75%-->  
            
            <ul class="cstestrigul">

                <li ng-repeat="q in riskTest.data.questions"><form>
                  <span class="cststtit">{{q.subject}}</span>
                  <div class="cststnr">
                    <div class="cststnr1" ng-repeat="op in q.options"><label><input name="first" type="radio" value="{{op.id}}" class="cststfxk"  ng-model="q.answer" />{{op.content}} </label> </div>
                    <!--
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />买前段时间想买贵重物品 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />除了犒劳自己，也给父母或是伴侣买些东西。 </label> </div>-->
                  </div>
                </form></li>
              
            </ul>
            
            <div class="cststbtn">
               <input type="submit" class="cststjt" value="提交" ng-click='submit()'/>
               <input type="reset" class="cststjt" value="重置" ng-click='reset()'/>
            </div>
            
             
            
           </div><!-- 财商测试右边 70%-->  
          </div>
    </ion-content>

  <multiple-views-support width="75%" />
</ion-view>







