<ion-view class="exam-view">

  	<ion-content>
    
      <div class="cstestlef"><!-- 财商测试左边25%-->  
            
              <div class="cststlogo"><img src="teImg/fpsb-logo.png" title=""/></div>
              <span class="cststlfnr">
                这是一个既科学又有趣的小测评。测评结果可以客观地了解您的理财风险偏好与投资性格,进而帮助您在投资理财的过程中,匹配适合您的产品服务与建议。来吧!现在就开始测评!
              </span>
              <div class="cststmbj"><img src="teImg/lnbombj.png"/> </div>
           </div><!-- 财商测试左边25%-->  

    </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







