<ion-view class="exam-view">

  	<ion-content>
    
      <div class="cstestlef"><!-- 财商测试左边25%-->  
            
              <div class="cststlogo"><img src="teImg/fpsb-logo.png" title=""/></div>
              <span class="cststlfnr">
                这是一个科学而有趣的小测评，测评结果有助于了解您的分险偏好与投资风格!
              </span>
              <div class="cststmbj"><img src="teImg/lnbombj.png"/> </div>
           </div><!-- 财商测试左边25%-->  

    </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







