<ion-view class="common-person-view">

    <!-- 主体部分 -->
  <ion-content>

              
            <ul class="gfnleful"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               

              <li>
                <div class="gfnulitp" ng-click="selectMenu('index','all')" ng-class="{gjxtjcss: highLight('index','all')}">
                  <a>个人中心</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <!--
              <li>
                <div class="gfnulitp" ng-click="selectMenu('pendings', 'all')" ng-class="{gjxtjcss: highLight('pendings','all')}">
                  <a>待办事项</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>-->
              <li>
                <div class="gfnulitp" ng-click="selectMenu('bookings', 'todo')" ng-class="{gjxtjcss: showSubMenu('bookings')}">
                  <a>客户预约</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                  <span class="badge badge-assertive" ng-if="data.bookingsTodoCount>0">{{data.bookingsTodoCount}}</span>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('orders', 'todo')" ng-class="{gjxtjcss: showSubMenu('orders')}">
                  <a>客户投资</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                  <span class="badge badge-assertive" ng-if="data.ordersTodoCount>0">{{data.ordersTodoCount}}</span>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('customers', 'all')" ng-class="{gjxtjcss: highLight('customers','all')}">
                  <a>客户管理</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>


              <li>
                <div class="gfnulitp" ng-click="selectMenu('commissions', 'all')" ng-class="{gjxtjcss: highLight('commissions','all')}">
                  <a>工作佣金</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>

                <div class="gfnulibm" ng-if="showSubMenu('commissions')">
                   <a ng-click="selectMenu('commissions', 'paid')" ng-class="{gjxtjcss : highLight('commissions', 'paid')}">已结算</a>
                   <a ng-click="selectMenu('commissions', 'unpaid')" ng-class="{gjxtjcss : highLight('commissions', 'unpaid')}">未结算</a>
                </div>
              </li>
              <!--
              <li>
                <div class="gfnulitp" ng-click="selectMenu('planning', 'all')" ng-class="{gjxtjcss: highLight('planning','all')}">
                  <a>工作规划</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>-->
              <li>
                <div class="gfnulitp" ng-click="selectMenu('like', 'all')" ng-class="{gjxtjcss: highLight('like','all')}">
                  <a>我的收藏</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
             

              <li>
                <div class="gfnulitp" ng-click="selectMenu('message', 'all')" ng-class="{gjxtjcss: highLight('message','all')}">
                  <a>我的消息</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                  <span class="badge badge-assertive">23</span>
                </div>
              </li>

              <li>
                <ion-toggle toggle-class="toggle-assertive"
                  ng-model="data.commissionCtrl.enabled">
                <i style="position:absolute;left:36px;">佣金显示</i>
               </ion-toggle>   
              </li>


              <li>
                <div class="gfnulitp">
                  <a></a>
                  <em></em>
                </div>
                <div class="gfnulibm" >
                  <a></a>
                </div>
              </li>


               <li>
                <div class="gfnulitp" ng-click="selectMenu('investment','orders')" ng-class="{gjxtjcss: highLight('investment','orders')}">
                  <a>个人投资</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('investment')">
                  <a href="" ng-click="selectMenu('investment', 'orders')"   ng-class="{gjxtjcss : highLight('investment','orders')}">我的订单</a>
                  <a href="" ng-click="selectMenu('investment', 'bookings')" ng-class="{gjxtjcss : highLight('investment','bookings')}">我的预约</a>
                </div>
              </li>


 

            </ul><!-- 左边大分类结束-->
    

       </div>

    </ion-content>
  <multiple-views-support width="25%" />
</ion-view>







