<ion-view class="common-person-view">

    <!-- 主体部分 -->
  <ion-content>

              
            <ul class="gfnleful"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               

              <li>
                <div class="gfnulitp" ng-click="selectMenu('index','all')" ng-class="{gjxtjcss: highLight('index','all')}">
                  <a>工作总览</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('pendings', 'all')" ng-class="{gjxtjcss: highLight('pendings','all')}">
                  <a>待办事项</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('customers', 'all')" ng-class="{gjxtjcss: highLight('customers','all')}">
                  <a>我的客户</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>


              <li>
                <div class="gfnulitp" ng-click="selectMenu('orders', 'all')" ng-class="{gjxtjcss: highLight('orders','all')}">
                  <a>客户订单</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('orders')">
                   <a ng-repeat="type in data.productType" href="" ng-click="selectMenu('orders', '{{type.type}}')" ng-class="{gjxtjcss : highLight('orders', '{{type.type}}')}">{{type.name}}</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('bookings', 'all')" ng-class="{gjxtjcss: highLight('bookings','all')}">
                  <a>客户预约</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>

                <div class="gfnulibm" ng-if="showSubMenu('bookings')">
                   <a ng-repeat="type in data.productType" href="" ng-click="selectMenu('bookings', '{{type.type}}')" ng-class="{gjxtjcss : highLight('bookings', '{{type.type}}')}">{{type.name}}</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('commissions', 'all')" ng-class="{gjxtjcss: highLight('commissions','all')}">
                  <a>我的佣金</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>

                <div class="gfnulibm" ng-if="showSubMenu('commissions')">
                   <a ng-click="selectMenu('commissions', 'paid')" ng-class="{gjxtjcss : highLight('commissions', 'paid')}">已结算</a>
                   <a ng-click="selectMenu('commissions', 'unpaid')" ng-class="{gjxtjcss : highLight('commissions', 'unpaid')}">未结算</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('planning', 'all')" ng-class="{gjxtjcss: highLight('planning','all')}">
                  <a>工作规划</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>

              <li>
               <div class="gfnulitp" ng-click="selectMenu('information','person')" ng-class="{gjxtjcss: highLight('information','person')}">
                  <a>我的资料</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('information')">
                  <a href="" ng-click="selectMenu('information', 'bank')" ng-class="{gjxtjcss : highLight('information','bank')}">银行卡信息</a>
                  <a href="" ng-click="selectMenu('information', 'password')" ng-class="{gjxtjcss : highLight('information','password')}">登入密码</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('message', 'all')" ng-class="{gjxtjcss: highLight('message','all')}">
                  <a>我的消息</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>

              
              <li>
                <div class="gfnulitp" ng-click="selectMenu('investment','orders')" ng-class="{gjxtjcss: highLight('investment','orders')}">
                  <a>个人投资</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('investment')">
                  <a href="" ng-click="selectMenu('investment', 'orders')"   ng-class="{gjxtjcss : highLight('investment','orders')}">我的订单</a>
                  <a href="" ng-click="selectMenu('investment', 'bookings')" ng-class="{gjxtjcss : highLight('investment','bookings')}">我的预约</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('group','all')" ng-class="{gjxtjcss: highLight('group','all')}">
                  <a>我的团队</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('group')">
                  <a href="" ng-click="selectMenu('group', 'orders')"   ng-class="{gjxtjcss : highLight('group','orders')}">预约分配</a>
                  <a href="" ng-click="selectMenu('group', 'tasks')" ng-class="{gjxtjcss : highLight('group','tasks')}">任务分配</a>
                  <a href="" ng-click="selectMenu('group', 'performance')" ng-class="{gjxtjcss : highLight('group','performance')}">业绩查询</a>
                </div>
              </li>

          
              <li>
                <div class="gfnulitp" ng-click="logout()">
                  <a>退出登入</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>

            </ul><!-- 左边大分类结束-->
    

       </div>

    </ion-content>
  <multiple-views-support width="25%" />
</ion-view>







