

<ion-view view-title="" class="common-main-view">





  <ion-content>
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
    <div class="main1">

    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" class="tyson">
      <ion-slide>
        <img src="teImg/banner.png">
      </ion-slide>
      <ion-slide>
        <img src="teImg/banner1.png">
      </ion-slide>
      <ion-slide>
        <img src="teImg/banner2.png">
      </ion-slide>
      <ion-slide>
        <img src="teImg/banner3.png">
      </ion-slide>
    </ion-slide-box>
      
      
        <!--<div class="item item-divider">
        </div>-->

       <!-- 右侧悬浮框-s -->
 
<!--

      <div class="xfkdv">
        <a href="#/exam/customer"></a>
        <span></span>
      </div>
-->

          <div class="synr3qq">
               <a href="" class="synr3qqa1" ng-class="{synr3cur: data.main=='internal'}" ng-click="goMainCategory('internal')">境内产品与服务</a>
               <a href="" class="synr3qqa2" ng-class="{synr3cur: data.main=='external'}" ng-click="goMainCategory('external')">境外产品与服务</a>
               <!--href="#/exam/customer"-->
               <a href="" ng-click="goExam('cljj')" class="synr3qqa3">理财评测</a>
               <em ng-click="messageDialog()">【首席金服消息】A股昨日资金净流出115.70亿元</em>
               <span></span>
           </div>
      <!--<div class="sy3qqbombj"></div>-->     

      <div class="lbanr11bj">
      <span class="lbanr1tit"> <i></i></span>
      <ion-scroll direction="x" ng-if="data.main=='internal'" delegate-handle="internalScroll" scrollbar-x="false">
        <div class="lbanr1" style="width:200%">
                <ul>

                  <li><a href="#/common/publicfunds"><div><img src="teImg/gongmu.png" title="" alt="" /></div>
                     <em>公募基金</em>
                  </a></li>

                  <li ng-repeat="category in data.categories" ng-if="category.key!='publicfunds'"><a href="#/main/products/categories/0/{{category.id}}">
                     <div><img src="{{category.image}}" title="" alt="" /></div>
                     <em>{{category.name}}</em>
                  </a></li>

                </ul>
        </div>   
      </ion-scroll>  

      <ion-scroll direction="x" ng-if="data.main=='external'" delegate-handle="externalScroll" scrollbar-x="false">
        <div class="lbanr1" style="width:200%">
                <ul>
                  <li ng-repeat="category in data.externals"><a href="#/main/products/categories/1/{{category.id}}">
                     <div><img src="{{category.image}}" title="" alt="" /></div>
                     <em>{{category.name}}</em>
                  </a></li>
                </ul>
        </div>   
      </ion-scroll>   

      </div>


      <!--
      <flot dataset="dataset" options="options" height="480px"></flot>
        <div id="legend" style="width: 200px; height: 200px;"></div>-->

      
      <!-- 首页添加-s -->
             <div class="sytjdv1" ng-click="goPromotion(1)">
                 <span>境外投资</span>
                 <em>您一直在保障客户利益，谁来呵护“您”的人生</em>
                 <i>全覆盖  ·  多角度 ·  一站式</i>
             </div> 
             
             <div class="sytjdv2" ng-click="goPromotion(2)">
                 <span>家族办公室</span>
                 <em>针对您家族永续发展等需求，提出具体可执行方案,让您的家业永保长青</em>
                 <i>让您的家业永保长青</i>
             </div> 

             <div class="sytjdv3" ng-click="goPromotion(3)">
                 <span>海外保险</span>
                 <em>针对您家族永续发展等需求，提出具体可执行方案,让您的家业永保长青</em>
                 <i>让您的家业永保长青</i>
             </div> 
           <!-- 首页添加-e -->
          <!--<a href="#" onclick="window.open('http://www.youdao.com', 'location=yes')">dsfsagsag</a>-->


        </div>

  


  

  </ion-content>
</ion-view>


