<ion-view class="common-person-view">

  	<ion-content>
    
	  	    <ul class="gfnleful"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               
              <li>
                <div class="gfnulitp" ng-click="selectMenu('index','all')" ng-class="{gjxtjcss: highLight('index','all')}">
                  <a>账户总览</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('bookings', 'all')" ng-class="{gjxtjcss: highLight('bookings','all')}">
                  <a>我的预约</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('orders', 'all')" ng-class="{gjxtjcss: highLight('orders','all')}">
                  <a>我的投资</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>

                <div class="gfnulibm" ng-if="showSubMenu('orders')">
                   <a ng-repeat="type in data.productType" href="" ng-click="selectMenu('orders', '{{type.type}}')" ng-class="{gjxtjcss : highLight('orders', '{{type.type}}')}">{{type.name}}</a>
                </div>
              </li>

              <li>
               <div class="gfnulitp" ng-click="selectMenu('information','person')" ng-class="{gjxtjcss: highLight('information','person')}">
                  <a>我的资料</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('information')">
                  <a href="" ng-click="selectMenu('information', 'bank')" ng-class="{gjxtjcss : highLight('information','bank')}">银行卡信息</a>
                  <a href="" ng-click="selectMenu('information', 'password')" ng-class="{gjxtjcss : highLight('information','password')}">登入密码</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('other', 'all')" ng-class="{gjxtjcss: highLight('other','all')}">
                  <a>其他</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="selectMenu('message', 'all')" ng-class="{gjxtjcss: highLight('message','all')}">
                  <a>我的消息</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="logout()">
                  <a>退出登入</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
         
              
            
            </ul><!-- 左边大分类结束-->

  </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







