<ion-view class="common-person-view">

  	<ion-content>
    
	  	    <ul class="gfnleful"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               
              <li>
                <div class="gfnulitp" ng-click="selectMenu('index','all')" ng-class="{gjxtjcss: highLight('index','all')}">
                  <a>个人中心</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                  <span class="badge badge-assertive">1</span>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('bookings', 'todo')" ng-class="{gjxtjcss: showSubMenu('bookings')}">
                  <a>预约/咨询</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('orders', 'todo')" ng-class="{gjxtjcss: showSubMenu('orders')}">
                  <a>我的投资</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectMenu('like', 'all')" ng-class="{gjxtjcss: highLight('like','all')}">
                  <a>我的收藏</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <!--
              <li>
               <div class="gfnulitp" ng-click="selectMenu('information','person')" ng-class="{gjxtjcss: highLight('information','person')}">
                  <a>我的资料</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showSubMenu('information')">
                  <a href="" ng-click="selectMenu('information', 'bank')" ng-class="{gjxtjcss : highLight('information','bank')}">银行卡信息</a>
                  <a href="" ng-click="selectMenu('information', 'password')" ng-class="{gjxtjcss : highLight('information','password')}">登入密码</a>
                </div>
              </li>
              
              <li>
                <div class="gfnulitp" ng-click="selectMenu('other', 'all')" ng-class="{gjxtjcss: highLight('other','all')}">
                  <a>其他</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              -->

              <li>
                <div class="gfnulitp" ng-click="selectMenu('message', 'all')" ng-class="{gjxtjcss: highLight('message','all')}">
                  <a>我的消息</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                  <span class="badge badge-assertive">1</span>
                </div>
              </li>
              <!--
              <li>
                <div class="gfnulitp" ng-click="logout()">
                  <a>退出登入</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>-->
         
              
            
            </ul><!-- 左边大分类结束-->

  </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







