


<ion-view class="booking-view">
    <ion-content>
       <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">
          <!--
          <div class="cpyyxzj">
                 <span class="yyprxqh1">推荐</span>
                 <span class="yyprxqh2">热销</span> 
                 
           </div>
           
           <div class="cpyyxzj2">
              <span>精明财俊  天伦之乐 ·重疾及储蓄保障计划</span>
        
           </div>-->
           
           <div class="cpyyxzj3">
            <!--
              <span>包括54种重大疾病、35种早期重疾以及4种儿童重疾。</span>
              <span>等后期短至90日，让你更早得到周全保障。</span>-->
              <!--
              <i>对于定期保险和终身保险的界定；首先我们先要明确好定期保险和终身保险在概念上的差别。定期寿险它所保障的只是一定时间段内的保险，是在合同期限内的，而终身寿险相对于定期寿险来说是一种不定期的死亡保险，就是在签署合同的当天就开始生效。保险公司会对被保险人进行终身负责，一直到死亡。
通常情况下来说，定期保险因为存在一些储蓄因素。在保额相等的情况下，它的保费相对其他的寿险的保费要低一些，而终身寿险因为是以终身为保险期限的，在提供保障的时候还具备了储蓄功能，所以它比较适合一些收入高又稳定的人群。如果家庭负担较重，计划要用保险金留给家人的话还是终身寿险比较合适。
现今，消费者在众多人寿保险险种中会选择定期寿险为主险，再附加一些意外伤害保险和住院医疗保险等等。需要注意的是，现在市场上的险种不断推进创新，其实很多保险公司的定期保险在一定条件下能转化成终身寿险，这样能更加方便消费者购买，具有一定的灵活性。</i>
              
              <i>
              对于定期保险和终身保险的界定；首先我们先要明确好定期保险和终身保险在概念上的差别。定期寿险它所保障的只是一定时间段内的保险，是在合同期限内的，而终身寿险相对于定期寿险来说是一种不定期的死亡保险，就是在签署合同的当天就开始生效。保险公司会对被保险人进行终身负责，一直到死亡。
通常情况下来说，定期保险因为存在一些储蓄因素。在保额相等的情况下，它的保费相对其他的寿险的保费要低一些，而终身寿险因为是以终身为保险期限的，在提供保障的时候还具备了储蓄功能，所以它比较适合一些收入高又稳定的人群。如果家庭负担较重，计划要用保险金留给家人的话还是终身寿险比较合适。
现今，消费者在众多人寿保险险种中会选择定期寿险为主险，再附加一些意外伤害保险和住院医疗保险等等。需要注意的是，现在市场上的险种不断推进创新，其实很多保险公司的定期保险在一定条件下能转化成终身寿险，这样能更加方便消费者购买，具有一定的灵活性。
              </i>-->

           </div>
           
           <div class="cpydgdv">
              <!--<a href="#" onclick="window.open('http://115.29.194.11:8080/app/tyson/aaa.pdf', 'location=yes')" class="ccdgaa1">查看详情</a>-->
              <a href="#" ng-click="openPdf(product.pdf)" class="ccdgaa1">查看详情</a>
   
              <a class="ccdgaa2" ng-click="data.optionOperation.action()">{{data.optionOperation.name}}</a>
              <!--<a class="ccdgaa2">预约产品</a>-->
           </div>
           
           <div ng-if="product.position=='1'" class="ccgdimg"><img src="teImg/jwtz_detail.jpg" /></div> 
           <div ng-if="product.position=='2'" class="ccgdimg"><img src="teImg/jzbgs_detail.jpg" /></div>   
           <div ng-if="product.position=='3'" class="ccgdimg"><img src="teImg/hwbx_detail.jpg" /></div>     
        
      </div> <!--main1-->
    </ion-content>
</ion-view>








