
<ion-nav-bar>
</ion-nav-bar>
<div class="common-main-view">
   <div class="header">
          <ul class="leul">
              <li class="lelia"><a href="#main/index"><img src="teImg/zcback.png" title="" alt="" /></a></li>
           </ul>
           <div class="logotop"><img src="teImg/logotop.png" title="" alt="" /></div>
           <ul class="heul">
              <li class="helib"><a href=""><img src="teImg/12432.png" title="" alt="" /></a></li>
           </ul>
  </div>
</div>


<ion-view class="booking-view has-header">
    <ion-content>
      <div class="main1">
          <div class="cpyyxzj">
                 <span class="yyprxqh1">推荐</span>
                 <span class="yyprxqh2">热销</span> 
                 
           </div>
           
           <div class="cpyyxzj2">
              <span>精明财俊  天伦之乐 ·重疾及储蓄保障计划</span>
              <em>早期重疾保障  尽早发现  及时治疗</em>
              <i>计划提供一站式早期重疾、重残、人寿和储蓄保障</i>
           </div>
           
           <div class="cpyyxzj3">
              <span>包括54种重大疾病、35种早期重疾以及4种儿童重疾。</span>
              <span>等后期短至90日，让你更早得到周全保障。</span>
              <i>投保人：三口之家（夫妻+孩子）</i>
              <em>吸烟状况：非吸烟</em>
              <em>保单货比：美元</em>
              <em>缴费年期：10年</em>
           </div>
           
           <div class="cpydgdv">
              <a href="#" onclick="window.open('http://115.29.194.11:8080/app/tyson/aaa.pdf', 'location=yes')" class="ccdgaa1">查看详情</a>
              <a class="ccdgaa2">预约产品</a>
           </div>
           
           <div class="ccgdimg"><img src="teImg/images/nyjpg.jpg" /></div>   
        
      </div> <!--main1-->
    </ion-content>
</ion-view>







