<ion-view class="booking-view">


    <ion-content>
      <div class="main1">

           <div class="gnr2dadv"><!--内容右侧开始-->

              
                <!-- 内容top阴影 -->

                <div class="gnr2ma"> 
                  
                  
                  <div class="khxqtop"><!--客户详情-s-->
                    
                     <div class="khxqpf"><img src="teImg/ghnr1lef.png" /></div> <!--左边-s-->
                     <div class="khxqpr">
                     
                         <p class="khxqrp1">
                            <span>王海先生</span>
                            <em>白金用户</em>
                            <i>已认证</i>
                            <b>财商测试得分：80</b>
                         </p>
                         <p class="khxqrp2">
                            <span>电话：1300004500</span>
                            <em>微信：wanghai223</em>   
                         </p>
                         <p class="khxqrp3"><span>邮箱：123455@gmail.com</span></p>
                         
                         
                         
                     </div><!--右边-s-->

                  </div><!--客户详情-e-->
                  
                  <div class="gjxxztj">
                     <a href="" class="gjjtqa1">接受预约</a>
                     <a href="" class="gjjtqa2">完成服务</a>
                  </div>
                  
                  
                  <div class="xyglcsqtop"><em>当前服务产品</em></div><!--理财师top-e-->
                  
                  
                      
                  <div class="xyglcsrrdv">
                      &nbsp;
                      <div class="twtwdv" ng-click="showProduct(data.order.product)">
                        <!--<div class="twtwdvf"><img src='teImg/gnr2rabm3.png' /></div>-->
                        <div class="twtwdvf"><img src='teImg/lbaitemimg3.png' /> <em>私募</em></div>
                        <span>粤财·瀚信中鼎盈丰3期</span>
                      </div>   

                  </div>
      
                   <!--
                  <div class="xyglcsqtop"><em>历史服务产品</em><i></i></div>    
                   
                  
             <div class="xsglxdv"> 
                 
               </div> -->
                   

                 
                
              </div>
            </div><!--内容右侧结束-->

      </div> <!--main1-->
    </ion-content>
  <multiple-views-support width="75%" />
</ion-view>







