<ion-view class="exam-view">

  	<ion-content>
    
      <div class="cstestlef"><!-- 财商测试左边25%-->  
            
              <div class="cststlogo"><img src="teImg/fpsb-logo.png" title=""/></div>
              <span class="cststlfnr">

              </span>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              
              <div class="cststmbj"><img src="teImg/lnbombj.png"/> </div>
           </div><!-- 财商测试左边25%-->  

    </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







