
<ion-view class="common-person-view">


    <ion-content>
     <div class="main1">
         <div class="gnr2dadv"><!--内容右侧开始-->

                <div class="gjxnrtopyy"></div>
                <!-- 内容top阴影 -->

                <div class="gnr2ma"> 


                  <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 

                  <div class="khzlzz3a" ng-if="showHistory('orders')"><span>客户历史成交记录</span> 
                    <a href="" ng-click="selectHistory('bookings');">
                       查看历史预约
                    </a>
                  </div>

                  <div class="khzlzz3a" ng-if="showHistory('bookings')"><span>客户历史预约记录</span> 
                    <a href="" ng-click="selectHistory('orders');">
                        查看历史成交
                      </a>
                  </div>

                 <!--  -->
                  <ion-list ng-if="showHistory('orders')">
                    <ion-item class="lcsslwsl"  ng-repeat="order in data.orders.data" ng-click="goOrderDetail(order.id)">
                       <div class="lcsslwslf1" style="margin-top:-0.3rem;">
                        <img ng-cache ng-src="{{order.customer | imageCustomerFilter}}" /> 
                        <span>{{order.customer.fullname}}</span>
                      </div>
                       <div class="lcsslwslf1" style="margin-top:-0.3rem;"><img ng-src='{{data.productType[order.product.type.toLowerCase()].image}}' /> <span>{{data.productType[order.product.type.toLowerCase()].name}}</span></div>
                       <span class="lccslwf2tyson" style="margin-top:-0.3rem;">{{order.product.name}}</span>
                    </ion-item>
                    
                  </ion-list> 
                  
                  <ion-list ng-if="showHistory('bookings')">
                    <ion-item class="lcsslwsl" ng-repeat="booking in data.bookings.data" ng-click="goBookingDetail(booking.id)">
                       <div class="lcsslwslf1" style="margin-top:-0.3rem;">
                        <img ng-cache ng-src="{{booking.customer | imageCustomerFilter}}" /> 
                        <span>{{booking.customer.fullname}}</span>
                      </div>
                       <div class="lcsslwslf1" style="margin-top:-0.3rem;"><img ng-src='{{data.productType[booking.product.type.toLowerCase()].image}}' /> <span>{{data.productType[booking.product.type.toLowerCase()].name}}</span></div>
                       <span class="lccslwf2tyson" style="margin-top:-0.3rem;">{{booking.product.name}}</span>
           
                    </ion-item>
                  </ion-list> 

                </div>
          </div>
      </div> <!--main1-->

    </ion-content>
    <multiple-views-support width="75%" />
</ion-view>







