 
<ion-view class="booking-view">
 

    <ion-content>
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">


                        
            <!--会员服务协议-->
            
            <div class="hyxynrdv" ng-if="data.nid=='1'">
              
              <div class="hybj"></div>
              
              <div class="hyttrb">
                <span class="hytita">首席金服</span>
                <span class="hytitb">会员服务协议</span>
                <div class="hxnn">
                  <div class="hytxnra">1、特别提醒</div>
                  <div class="hytxnrb">1.1 您确认，在您注册成为资智汇乘资产管理（上海）有限公司所属“首席金服”信息中介服务平台的会员或使用、接受首席金服的服务之前，<span>您已充分阅读、理解并接受本协议的全部内容，并同意遵循本协议的所有约定。</span></div>
                    <div class="hytxnrb">1.2 您同意，首席金服有权随时对本协议内容进行单方面的变更，并在首席金服平台上以公告的方式予以公布，无需另行单独通知您。</div>
                    <div class="hytxnrb">1.3 若您在本协议内容公告变更后继续使用、接受首席金服的服务，表示您已充分阅读、理解并接受修改后的协议内容，并同意遵循修改后协议的所有约定；若您不同意修改后的协议内容，您应当立即停止使用首席金服的服务。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">2、定义</div>
                  <div class="hytxnrb">2.1“首席金服”是由资智汇乘资产管理（上海）有限公司运营的信息中介服务平台（网址：www.global-ifa.com）。</div>
                    <div class="hytxnrb">2.2“首席金服会员”指遵守本协议约定，通过首席金服平台注册进行相关金融理财的用户。如法规和监管规定有进一步调整，首席金服会员需配合首席金服进行必要的核查与整改。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">3、注册条款</div>
                  <div class="hytxnrb">3.1 您声明，在您注册成为首席金服的会员或使用、接受首席金服的服务时，您是具有法律规定的民事权利能力和完全民事行为能力、能够独立承担民事责任的自然人。若您不具备前述主体资格，您应当立即停止注册或停止使用首席金服的服务，否则，由此导致的一切后果由您及您的监护人承担。</div>
                  <div class="hytxnrb">3.2 在注册时，您应当使用真实有效的手机号码进行注册。</div>
                  <div class="hytxnrb">3.3 因通过您提供的电子邮件、手机号码等联系方式无法及时与您取得联系，导致您在使用首席金服服务过程中产生任何损失或增加费用的，由您自行承担。</div>
                  <div class="hytxnrb"> 3.4 首席金服有权以各种方式（包括但不限于电子邮件、手机短信等）发送与首席金服所提供服务相关的各类商业信息。</div>
                  <div class="hytxnrb">3.5 接受并遵循本协议（包括不时修改的条款和内容）和首席金服公示的所有公告、规则、条款和约定。</div>
                  <div class="hytxnrb">3.6首席金服采用行业标准惯例以保护您的资料。您因履行本协议提供给首席金服的信息，首席金服不会恶意出售或免费共享给任何第三方，以下情况除外：
                  3.6.1提供独立服务且仅要求服务相关的必要信息的供应商，如印刷厂、邮递公司等；
                  3.6.2具有合法调阅信息权限并从合法渠道调阅信息的政府部门或其他机构，如公安机关、法院；
                  3.6.3资智汇乘资产管理（上海）有限公司的关联实体；
                  3.6.4经平台使用方或平台使用方授权代表同意的第三方。
                  </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">4、会员账户管理</div>
                  <div class="hytxnrb"> 4.1您设置的用户名不得违反法律规定，不得侵犯他人合法权益。</div>
                  <div class="hytxnrb">4.2 您应当妥善保管您的用户名和密码，对于因密码泄露所致的损失，由您自行承担。您保证不向其他任何人泄露用户名及密码，如您发现任何人冒用或盗用您的用户名及密码或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知首席金服，要求首席金服暂停相关服务。您理解首席金服对您的请求采取措施需要合理时间，首席金服对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</div>
                  <div class="hytxnrb"> 4.3 除非有法律依据且征得首席金服的同意，否则，您的用户名和密码不得以任何方式转让、赠与或继承。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">5、使用条款</div>
                  <div class="hytxnrb">     5.1 您在使用首席金服平台服务时，应遵守国家相关法律规定、首席金服的相关协议及规则。</div>
                  <div class="hytxnrb">     5.2 您在使用首席金服平台服务时，禁止任何违法违规行为。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">6、费用</div>
                  <div class="hytxnrb">       6.1 注册首席金服的会员是免费的。首席金服保留修改费用条款的权利，一旦费用条款被修改，将立即在首席金服平台上进行公示。</div>
                  <div class="hytxnrb">     6.2 首席金服不负责对您因使用首席金服的服务而需支付的税收或其他费用。首席金服有权在未经通知的情况下随时改变或不继续提供某些或全部服务（暂时性的或永久的）。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">7、责任声明</div>
                  <div class="hytxnrb">              7.1 对使用首席金服而产生的风险由用户自己承担，首席金服明确不提供任何明示或者默示的担保。</div>
                  <div class="hytxnrb">    7.2 首席金服对下列事项不作任何陈述与保证： 7.2.1 首席金服的服务符合您的要求或经验；
                   7.2.2 您使用首席金服的服务后所产生的任何行为，如购买或获得的任何产品、服务、信息或其他事物等，将符合您的要求或经验；
                       7.2.3 首席金服是不受干扰的、没有故障的，也不对使用效果做任何保证。您同意独立承担因网站意外中断、操作或传输的迟延、电脑病毒、网络连接故障、未经授权的进入等引起的损失。
                  </div>
                  <div class="hytxnrb">  7.3 您因违反首席金服的会员服务协议或其他有关的法律、法规，而导致有第三方对资智汇乘资产管理（上海）有限公司或关联方提起诉讼或索赔要求时，您同意赔偿资智汇乘资产管理（上海）有限公司或关联方因此遭受的所有损失，包括但不限于合理的诉讼费、仲裁费、律师费。如果您的行为涉嫌犯罪的，资智汇乘资产管理（上海）有限公司有权送交司法机关处理。 </div>
                  <div class="hytxnrb"> 7.4 首席金服对会员在首席金服上公布的信息中查找到的内容不负责任，对信息的即时性、安全性和正确性也不作保证。对通过首席金服获取的任何信息，会员需自己甄别，自担风险。</div>
                  <div class="hytxnrb">  7.5 首席金服对会员使用首席金服上公布的或其服务中的建议和资讯而造成的损失或伤害以及会员相信首席金服上公布的或其服务中的建议和资讯而做出的决定或采取的行为不承担责任。若您对首席金服提供的部分或所有服务不满，您唯一的补救措施是停止使用这些服务。</div>
                  <div class="hytxnrb">  7.6 首席金服含有与其他网站的链接，但并不能控制这些网站及其所提供的资源，所以首席金服对链接网站上的内容、广告、服务、产品信息的真实有效性不负责任，并且对因链接网站上的内容、广告、服务、产品信息的失实而造成的损失不负任何法律责任。</div>
                  <div class="hytxnrb">         7.7 鉴于互联网的特殊性，因黑客攻击、互联网连通中断或者系统故障等情形给用户造成的损失，首席金服不承担责任。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">8、知识产权声明</div>
                  <div class="hytxnrb">         8.1 首席金服上所有可阅读的资料等都受到《中华人民共和国著作权法》等相关法律法规的保护。</div>
                  <div class="hytxnrb">           8.2 首席金服上所有内容的选材、整理、编排、排版，以及由首席金服创作的文字、图片等作品的著作权，无论是否明示，均属首席金服所有。任何组织或个人未经首席金服书面许可，不得修改、出版、传播、参与传播、销售、制作衍生作品，或以其他任何方式使用整体或部分的首席金服上的内容。</div>
                  <div class="hytxnrb">                8.3 首席金服对其开发或者合作开发的系统等享有知识产权。首席金服的所有权利受法律保护。</div>
                  <div class="hytxnrb">               8.4 “首席金服”是资智汇乘资产管理（上海）有限公司所有、使用的知识产权。</div>
                  <div class="hytxnrb">      8.5 所有其他在首席金服上出现的商标为它们各自的权利人所有。</div>
                  <div class="hytxnrb">           8.6 首席金服尊重和保护他人的知识产权。不允许在没有著作权、商标权或其他专有权权利人明确许可的情况下，发布或者传播任何可能侵犯他人权利的信息、图片，否则行为人承担由此产生的全部责任。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">9、协议终止</div>
                  <div class="hytxnrb">         您同意：您出现以下情形，首席金服有权在告知或未经告知的情况下中止或终止向您提供部分或全部服务，且无须因此向您或任何第三方承担任何责任，且保留追究您法律责任的权利：</div>
                  <div class="hytxnrb">              9.1 向首席金服提供的信息或资料不真实、不准确、不即时、不完整；</div>
                  <div class="hytxnrb">                     9.2 实施或计划实施破坏、攻击首席金服的电脑系统、网络的完整性，或者试图擅自进入首席金服电脑系统、网络；</div>
                  <div class="hytxnrb">                   9.3 使用或提供含有毁坏、干扰、截取或侵占任何系统、数据或个人资料的任何电脑病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他破坏性程序；</div>
                  <div class="hytxnrb">            9.4 盗用他人在首席金服上的用户名或密码；</div>
                  <div class="hytxnrb">               9.5 未经首席金服书面同意，擅自允许他人使用首席金服的服务（包括但不限于擅自允许他人使用其用户名或密码，或者擅自将其用户名或密码转让给他人的），或者通过首席金服获得相关信息；</div>
                  <div class="hytxnrb">               9.6 出现其他任何违法、违纪的情形。
                   一旦您的会员资格或服务被中止或终止，首席金服有权随时删除您在首席金服的注册信息及相关资料；对您在会员资格或服务中止或终止前的行为，首席金服保留追究您法律责任的权利。但首席金服有权保留您在首席金服的全部信息。
                  </div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">10、法律适用及管辖</div>
                  <div class="hytxnrb">            本协议条款的解释及适用，以及与本协议条款有关的争议，均应依照中华人民共和国法律予以处理，并以资智汇乘资产管理（上海）有限公司所在地人民法院为管辖法院。</div>
                </div>


              </div>
              
              </div>
            
            <!--会员服务协议-->

            <!-- 开户协议 -->
            <div class="hyxynrdv" ng-if="data.nid=='2'">
              
              <div class="hybj"></div>
              
              <div class="hyttrb">
                <span class="hytita">首席金服</span>
                <span class="hytitb">开户协议</span>
                        <span class="hyellow">建议甲方充分了解网上远程交易的风险及本协议免责条款含义，谨慎考虑以决定是否选择网上交易及签订本协议。</span>
                <div class="hxnn">
                  <div class="hytxnra">乙方：上海长量基金销售投资顾问有限公司（以下简称"长量基金销售"）</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnra">甲方：通过上海长量基金销售投资顾问有限公司网上交易系统进行开放式基金网上交易的投资者</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnrb">公司电话：021-20691869</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnrb">委托服务网站：http://www.erichfund.com</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnrb">甲、乙双方依照有关法律、法规的规定，本着公开、公平和自愿、有偿、诚实信用的原则，就乙方为甲方提供网上远程交易委托服务及其他相关业务达成如下协议：</div>
                </div>
                        
                <div class="hxnn">
                  <div class="hytxnra">第一条 释义：</div>
                  <div class="hytxnrb">除非本协议文意另有所指，下列词语具有如下含义：</div>
                  <div class="hytxnrb">1、网上交易：是指甲方通过乙方的网上交易系统进行开放式基金账户和交易账户的开户、销户、资料修改，提交基金认购、申购、赎回、预约赎回申请，转托管，基金转换，基金分红方式变更，交易密码修改，查询密码修改等交易申请以及当日和历史的交易记录查询和其它相关业务的交易方式。</div>
                  <div class="hytxnrb">2、投资者：指通过乙方网上交易系统进行开放式基金网上交易的投资者。</div>
                  <div class="hytxnrb">3、基金账户：指基金注册登记人为投资者开立的记录其持有乙方所设立、管理的开放式基金的基金份额、份额变更情况及基本资料的账户。</div>
                  <div class="hytxnrb">4、基金交易账户：指基金销售人为投资者开立的记录其通过该销售人买卖乙方所设立、管理的开放式基金份额的变动及结余情况的账户。</div>
                  <div class="hytxnrb">5、认购：指开放式基金设立募集期内，投资者申请购买基金单位的行为。</div>
                  <div class="hytxnrb">6、申购：指开放式基金成立后，投资者申请购买基金单位的行为。</div>
                  <div class="hytxnrb">7、赎回：指开放式基金存续期间内已持有基金份额的投资者要求基金管理人购回基金单位的行为。</div>
                  <div class="hytxnrb">8、预约赎回：指基金持有人按基金契约规定的条件，预约一个赎回日期，在预约日期要求基金管理人购回基金单位的行为。</div>
                  <div class="hytxnrb">9、基金转换： 指投资者将所持有的基金份额转换成同一注册登记人登记的同一基金管理公司的其他基金份额。</div>
                  <div class="hytxnrb">10、基金份额转托管：指投资者将其持有的基金份额从一个交易账户转到另一交易账户进行交易的行为。</div>
                  <div class="hytxnrb">11、基金单位资产净值：指计算日基金资产净值除以计算日基金份额总数后的价值。</div>
                  <div class="hytxnrb">12、T日：指销售人确认的投资者有效申请工作日；T＋n日：指自T日起第n个工作日（不包含T日）。</div>
                  <div class="hytxnrb">13、工作日：指上海证券交易所、深圳证券交易所的正常交易日。</div>
                  <div class="hytxnrb">14、开放日：指为投资者办理基金申购、赎回等业务的工作日。</div>
                  <div class="hytxnrb">15、交易密码：指长量基金销售网上交易账户的交易密码。</div>
                  <div class="hytxnrb">16、登录密码：指准予投资网上交易系统的登录密码。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第二条 远程交易服务的内容</div>
                  <div class="hytxnrb">本协议所述远程交易服务内容包括：开放式基金账户和交易账户的开户、销户、资料修改，提交基金认购、申购、赎回、预约赎回申请，转托管，基金转换，基金分红方式变更，交易密码修改，查询密码修改等交易申请以及当日和历史的交易记录查询和其它相关业务。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第三条 网上交易风险提示</div>
                  <div class="hytxnrb">如果甲方愿意申请使用乙方网上交易业务，甲方即被认为已经完全了解网上交易的风险，能够承受网上交易风险，并能够承担由此可能带来的损失。 乙方已最大限度地采取了有效措施保护客户资料和交易活动的安全。尽管如此，本着对客户负责的态度，乙方在此郑重提醒甲方，网上交易仍然存在的风险包括但不限于：</div>
                  <div class="hytxnrb">1、互联网是全球公共网络，并不受任何一个机构所控制。数据在互联网上传输的途径不是完全确定的。互联网本身并不是绝对安全可靠的环境。</div>
                  <div class="hytxnrb">2、在互联网上传输的数据有可能被某些个人、团体或机构通过某种渠道获得。</div>
                  <div class="hytxnrb">3、互联网上的数据传输可能因通信繁忙出现延迟，或因其他原因出现中断、停顿或数据不完全、数据错误等情况，从而使交易出现延迟、停顿或中断。</div>
                  <div class="hytxnrb">4、互联网上发布的各种信息，包含但不限于分析、预测性资料，可能出现错误或被误导。</div>
                  <div class="hytxnrb">5、甲方的网上交易身份可能会被仿冒。</div>
                  <div class="hytxnrb">6、甲方自身计算机性能、质量、病毒、故障及其他原因，可能造成影响交易时间或交易数据，因此给甲方造成损失。</div>
                  <div class="hytxnrb">7、甲方自身的疏忽造成账号或密码泄漏，可能会给甲方造成损失。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第四条 甲方承诺：</div>
                  <div class="hytxnrb">1、甲方清楚地了解使用网上交易可能遭受的风险，并自愿承担该种风险而导致的损失。</div>
                  <div class="hytxnrb">2、甲方在签订本协议之前，已经详细阅读了本协议包括乙方免责条款在内的所有条款，并已准确理解其含义。</div>
                  <div class="hytxnrb">2、在互联网上传输的数据有可能被某些个人、团体或机构通过某种渠道获得。</div>
                  <div class="hytxnrb">3、甲方确认已详细阅读并理解乙方所设立、管理的开放式基金的《基金合同》、《招募说明书》及《开放式基金业务管理规则》、《开放式基金网上交易业务规则》及本协议书的所有内容，并接受上述所有内容。甲方明白投资于基金的风险，自愿通过乙方的网上交易系统办理基金业务，承诺上述业务视同甲方亲临乙方柜台办理。</div>
                  <div class="hytxnrb">4、甲方投资于乙方管理的基金，须开立乙方的基金账户。开立乙方基金账户的投资者必须是中华人民共和国法律法规规定的合法投资者,并符合《长量基金销售投资顾问有限公司开放式基金业务规则》的开户条件。</div>
                  <div class="hytxnrb">5、甲方保证用于投资乙方所设立、管理的基金的资金来源合法，不存在任何瑕疵，否则由此引起的任何责任由甲方承担。</div>
                  <div class="hytxnrb">6、甲方保证所填写的信息真实、准确和有效，如有变化，甲方应及时变更相关资料。因甲方未能及时变更有关资料所可能导致的损失由甲方承担。甲方须承担因提供不真实、有误或无效信息而可能导致的一切责任，包括对乙方或任何第三方的损害赔偿责任。</div>
                  <div class="hytxnrb">7、甲方单独使用网上交易方式，不与他人共享；甲方不利用该系统从事基金代理买卖业务及从中收取任何费用。</div>
                  <div class="hytxnrb">8、甲方将确保其用于网上交易的设备的安全性和可靠性。对于因甲方的设备故障、通讯故障等原因造成的经济损失，乙方不承担责任。</div>
                  <div class="hytxnrb">9、凡是使用甲方密码所进行的一切委托，均被视为甲方亲自办理之有效委托。甲方由于自己疏忽或其他原因而致使密码失密造成的损失由甲方自己承担，乙方对此不承担责任。</div>
                  <div class="hytxnrb">10、甲方在发现或有理由认为存在未被授权的人正在或可能使用其账号、密码时，应立即与乙方联系，甲方承诺采取相应的保护、防范措施。</div>
                  <div class="hytxnrb">11、甲方不利用技术或其他手段，攻击乙方网络，破坏乙方系统，否则承担由此给乙方或任何第三方造成的损失。</div>
                  <div class="hytxnrb">12、甲方对其各项委托活动的结果承担全部责任，承诺偿付任何因其违约而使乙方遭受的损失。</div>
                  <div class="hytxnrb">13、甲方不得将本协议项下的权利或义务的部分或全部转让给任何第三方。</div>
                  <div class="hytxnrb">14、甲方须妥善保管交易密码和身份识别凭证，建议定期更换交易密码。乙方对任何交易申请仅作表面真实性审查。一切使用甲方身份识别凭证和/或交易密码进行的交易行为均视为甲方亲自办理之有效交易行为，由此造成的后果由甲方自行承担。</div>
                  <div class="hytxnrb">15、为保护甲方交易数据的安全，在进行网络交易时，甲方应使用乙方指定的浏览器。如果使用不符合要求的其他软件或设备进入乙方网站，所引起的任何损失或造成的任何后果，均与乙方无关。</div>

                </div>
                <div class="hxnn">
                  <div class="hytxnra">第五条 乙方承诺：</div>
                  <div class="hytxnrb">1、乙方遵守有关法律法规、规章制度，并愿意受本协议的相关条款的约束。</div>
                  <div class="hytxnrb">2、乙方提供的网上交易系统的系统安全、数据备份和故障恢复手段符合监管机关的规定。</div>
                  <div class="hytxnrb">3、对甲方的网上交易，乙方对相关电子数据进行保留并作为甲方交易行为的证明。乙方对甲方的委托资料、委托事项和密码负有保密义务，乙方未经甲方许可，不得透露甲方在乙方登记的任何资料。但乙方按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供甲方的有关资料和乙方用于公司内部用途不在此限。</div>
                  <div class="hytxnrb">4、乙方在本协议生效当日，为甲方开通协议约定的交易委托方式。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第五条 乙方承诺：</div>
                  <div class="hytxnrb">1、乙方遵守有关法律法规、规章制度，并愿意受本协议的相关条款的约束。</div>
                  <div class="hytxnrb">2、乙方提供的网上交易系统的系统安全、数据备份和故障恢复手段符合监管机关的规定。</div>
                  <div class="hytxnrb">3、对甲方的网上交易，乙方对相关电子数据进行保留并作为甲方交易行为的证明。乙方对甲方的委托资料、委托事项和密码负有保密义务，乙方未经甲方许可，不得透露甲方在乙方登记的任何资料。但乙方按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供甲方的有关资料和乙方用于公司内部用途不在此限。</div>
                  <div class="hytxnrb">4、乙方在本协议生效当日，为甲方开通协议约定的交易委托方式。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第六条 提示条款：</div>
                  <div class="hytxnrb">1、网上交易受理条件提示：</div>
                  <div class="hytxnrb">* 甲方须与乙方通过直销柜台或网上方式签订《长量基金销售投资顾问有限公司开放式基金网上远程交易委托服务协议》。

                  * 甲方须通过网上方式开立交易账户，该交易账户在本协议履行过程中应处于正常交易状态。

                  * 甲方通过网上方式开立账户时，须依据《长量基金销售投资顾问有限公司网上交易业务规则》办理。

                  * 乙方收到甲方通过远程交易方式提交的认购、申购申请后，应在验证资金到账后受理申请。申购基金的价格计算以申请提交日的基金资产净值为依据。

                  * 乙方收到甲方通过远程交易方式提交的赎回申请后，应在验证交易账户

                  * 有足够基金余额时受理申请，否则视为无效申请，乙方可不予执行甲方赎回申请。
                  </div>
                  <div class="hytxnrb">2、网上交易的开通、变更与终止提示：甲方欲开通或终止网上交易手段，须依据《长量基金销售投资顾问有限公司网上交易业务规则》办理。</div>
                  <div class="hytxnrb">3、支付业务提示：

                  甲方须依据《准予投资顾问有限公司网上交易业务规则》办理资金支付事宜。
                  </div>
                  <div class="hytxnrb">4、设备提示：

                  甲方应具备本协议约定网上交易所必需的设备。
                  </div>
                  <div class="hytxnrb">5、委托提示：

                  a) 甲方网上远程下达的委托，以乙方的系统记录为准。

                  b) 甲方使用网上交易，需自行支付因此产生的相关费用,如：上网费、电话费等。
                  </div>
                  <div class="hytxnrb">6、委托受理时间提示：

                  认购期内，基金当日委托申请的受理截止时间为每日17：00，如甲方17：00后提交委托申请，则乙方视甲方的委托申请为次日的申请，但委托申请中选择当日为有效期的申请将被视为无效申请。在开放日，基金当日委托申请的受理截止时间为15：00，如甲方15：00后提交委托申请，则甲方的委托申请按下一个工作日的申请处理，但委托申请中选择当日为有效期的申请将被视为无效申请。甲方委托申请的时间以乙方系统自动记载时间为准。
                  </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第七条 免责条款</div>
                  <div class="hytxnrb">因下列情形导致甲方损失的，乙方不承担责任：</div>
                  <div class="hytxnrb">1、因战争、自然灾害、罢工、地震、火灾、台风及其他各种不可抗力引起停电、网络系统故障、电脑故障；</div>
                  <div class="hytxnrb">2、因电信部门的通讯线路故障、通讯技术缺陷、电脑黑客或计算机病毒等问题造成委托系统不能正常运转</div>
                  <div class="hytxnrb">3、为确保网络传输的安全，保障甲方的利益，乙方对网络资料的传输采用网上安全电子认证证书方式，但乙方无法保证电子信息绝对安全，毫无错误或指定网址不被恶意攻击或因存在电子病毒所导致的故障，也不为此承担任何责任或甲方因网上交易的故障所可能导致的任何损失承担赔偿责任。</div>
                  <div class="hytxnrb">4、法律和政策重大变化或乙方不可预测和不可控制因素导致的突发事件；</div>
                  <div class="hytxnrb">5、因通讯、网络中断、堵塞等情况致使通过约定的委托手段无法下达申请委托时；</div>
                  <div class="hytxnrb">6、因甲方设备或通讯故障或设备未能处于正常工作状态致使乙方未能按时收到或者收取甲方的申请信息不完整；</div>
                  <div class="hytxnrb">7、因甲方的故意或疏忽导致交易密码泄露或遗失，由此导致甲方损失的；</div>
                  <div class="hytxnrb">8、法律规定和本协议约定的其他乙方免责事项。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第八条 协议生效及变更：</div>
                  <div class="hytxnrb">1、在不损害甲方利益的前提下，乙方保留修改或增补本协议内容的权利。修改本协议通知以书面形式公告于乙方的网站及营业场所或以其他乙方认为可行的方式通知。甲方在修改通知公布之日起未向乙方提出书面异议，视同已经得到甲方的认可，但乙方增加本协议第二条所述服务内容除外。</div>
                  <div class="hytxnrb">2、本协议书签署后，若有关法律法规和《基金合同》、《招募说明书》、《公开说明书》和其他乙方和甲方应共同遵守的文件发生修订，本协议与之不相适应的内容及条款自行失效，但本协议其他内容和条款继续有效。</div>
                  <div class="hytxnrb">3、本协议在甲、乙双方签署后立即生效，在下述情况之一发生时终止：a) 双方签订书面协议同意终止。

                  b) 甲方死亡或不再具备相应的民事行为能力。

                  c) 甲方撤销直销交易账户或基金账户。

                  d) 甲方通过柜台或网上方式取消网上交易。

                  e) 乙方不作为甲方认购、申购、赎回所指向的基金或甲方所持有的基金的管理人。

                  f) 因不可抗力使本协议无法继续履行。

                  g) 一方违约，另一方书面通知对方提出终止本协议。
                  </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">第九条 争议的解决：</div>
                  <div class="hytxnrb">甲、乙双方如有争议，应尽可能通过协商、调解解决，协商、调解不成，任何一方均有权向上海国际仲裁中心申请仲裁，仲裁按照该中心届时有效的仲裁规则进行。仲裁裁决是终局的，对双方均有法律约束力。</div>
                </div>

              </div>
              
              </div>
            <!-- 开户协议 -->

            <!--投资人权益-->
            <div class="hyxynrdv" ng-if="data.nid=='3'">
              
              <div class="hybj"></div>
              
              <div class="hyttrb">
                <span class="hytita">首席金服</span>
                <span class="hytitb">投资人权益须知</span>

                <div class="hxnn">
                  <div class="hytxnrb">尊敬的基金投资人：</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnrb">基金投资在获取收益的同时存在投资风险。为了保护您的合法权益，请在投资基金前认真阅读以下内容</div>
                </div>
                        
                <div class="hxnn">
                  <div class="hytxnra">一、基金的基本知识</div>
                  <div class="hytxnrb">（一）什么是基金

                  证券投资基金（简称基金）是指通过发售基金份额，将众多投资者的资金集中起来，形成独立财产，由基金托管人托管，基金管理人管理，以投资组合的方法进行证券投资的一种利益共享、风险共担的集合投资方式。
                  </div>
                  <div class="hytxnrb">（二）基金与股票、债券、储蓄存款等其它金融工具的区别:1、反映的经济关系不同，基金是信托关系，是一种受益凭证，投资者购买基金份额后成为基金受益人，基金管理人只是替投资者管理资金，并不承担投资损失风险。股票就所有权关系，是一种所有权凭证，投资者购买后成为公司股东。债券是债权债务关系，是一种债权凭证，投资者购买后成为该公司债权人。银行储蓄存款是表现为银行的负债，是一种信用凭证，银行对存款者负有法定的保本付息责任。

                  2、所筹资金的投向不同，基金是间接投资工具，主要投向股票、债券等有价证券。股票和债券是直接投资工具，主要投向实业领域。银行储蓄存款是间接投资工具，银行负责资金用途和投向。

                  3、投资收益与风险大小不同，基金投资于众多有价证券，能有效分散风险，风险相对适中，收益相对稳健。股票价格波动性大，高风险、高收益。债券价格波动较股票小，低风险、低收益。银行存款利率相对固定，损失本金的可能性很小，投资比较安全。

                  4、收益来源不同。

                  5、投资渠道不同
                  </div>
                  <div class="hytxnrb">（三）基金的分类

                  1、依据运作方式的不同，可分为封闭式基金与开放式基金。

                  封闭式基金是指基金份额在基金合同期限内固定不变，基金份额可以在依法设立的证券交易所交易，但基金份额持有人不得申请赎回的一种基金运作方式。

                  开放式基金是指基金份额不固定，基金份额可以在基金合同约定的时间和场所进行申购和赎回的一种基金运作方式。

                  2、依据投资对象的不同，可分为股票基金、债券基金、货币市场基金、混合基金

                  根据《证券投资基金运作管理办法》对基金类别的分类标准,60%以上的基金资产投资于股票的为股票基金；80%以上的基金资产投资于债券的为债券基金；仅投资于货币市场工具的为货币市场基金；投资于股票、债券和货币市场工具，但股票投资和债券投资的比例不符合股票基金、债券基金规定的为混合基金。这些基金类别按收益和风险由高到低的排列顺序为：股票基金、混合基金、债券基金、货币市场基金，即股票基金的风险和收益最高，货币市场基金的风险和收益最低。

                  3、特殊类型基金

                  （1）系列基金。又被称为伞型基金，是指多个基金共用一个基金合同,子基金独立运作,子基金之间可以进行相互转换的一种基金结构形式。

                  （2）保本基金。是指通过采用投资组合保险技术,保证投资者的投资目标是在锁定下跌风险的同时力争有机会获得潜在的高回报。

                  （3）交易型开放式指数基金(ETF)与上市开放式基金(LOF)。交易型开放式指数基金,通常又被称为交易所交易基金(Exchange Traded Funds,简称“ETF”),是一种在交易所上市交易的、基金份额可变的一种开放式基金。上市开放式基金(Listed Open-ended Funds,简称“LOF”)是一种既可以在场外市场进行基金份额申购赎回，又可以在交易所（场内市场）进行基金份额交易、申购或赎回的开放式基金。

                  （4）QDII基金。是一种以境外证券市场为主要投资区域的证券投资基金，投资者可以用人民币或美元等外汇进行认购和申购，在承担境外市场相应投资风险的同时获取相应的投资收益。QDII基金与普通证券投资基金的最大区别在于投资范围不同。
                  </div>
                  <div class="hytxnrb">（四）基金评级

                  基金评级是依据一定标准对基金产品进行分析从而做出优劣评价。投资人在投资基金时，可以适当参考基金评级结果，但切不可把基金评级作为选择基金的唯一依据。此外，基金评级是对基金管理人过往的业绩表现做出评价，并不代表基金未来长期业绩的表现。
                  </div>
                  <div class="hytxnrb">（五）基金费用

                  基金费用一般包括两大类：一类是在基金销售过程中发生的由基金投资人自己承担的费用，主要包括认购费、申购费、赎回费和基金转换费。这些费用一般直接在投资人认购、申购、赎回或转换时收取。其中申购费可在投资人购买基金时收取，即前端申购费；也可在投资人卖出基金时收取，即后端申购费，其费率一般按持有期限递减。另一类是在基金管理过程中发生的费用，主要包括基金管理费、基金托管费、信息披露费等，这些费用由基金承担。对于不收取申购、赎回费的货币市场基金和部分债券基金，还可按不高于2.5‰的比例从基金资产中计提一定的销售服务费。
                  </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">二、基金份额持有人的权利</div>
                  <div class="hytxnrb">根据《证券投资基金法》第70条的规定，基金份额持有人享有下列权利：

                  （一）分享基金财产收益；

                  （二）参与分配清算后的剩余基金财产；

                  （三）依法转让或申请赎回其持有的基金份额；

                  （四）按照规定要求召开基金份额持有人大会；

                  （五）对基金份额持有人大会审议事项行使表决权；

                  （六）查阅或者复制公开披露的基金信息资料；

                  （七）对基金管理人、基金托管人、基金份额发售机构损害其合法权益的行为依法提起诉讼；

                  （八）基金合同约定的其它权利。
                  </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">三、基金投资风险提示</div>
                  <div class="hytxnrb">（一）证券投资基金是一种长期投资工具，其主要功能是分散投资，降低投资单一证券所带来的个别风险。基金不同于银行储蓄和债券等能够提供固定收益预期的金融工具，投资人购买基金，既可能按其持有份额分享基金投资所产生的收益，也可能承担基金投资所带来的损失。</div>
                  <div class="hytxnrb">（二）基金在投资运作过程中可能面临各种风险，既包括市场风险，也包括基金自身的管理风险、技术风险和合规风险等。巨额赎回风险是开放式基金所特有的一种风险，即当单个交易日基金的净赎回申请超过基金总份额的百分之十时，投资人将可能无法及时赎回持有的全部基金份额。</div>
                  <div class="hytxnrb">（三）基金投资人应当充分了解基金定期定额投资和零存整取等储蓄方式的区别。定期定额投资是引导投资人进行长期投资、平均投资成本的一种简单易行的投资方式，但并不能规避基金投资所固有的风险，不能保证投资人获得收益，也不是替代储蓄的等效理财方式。</div>
                  <div class="hytxnrb">（四）基金管理人承诺以诚实守信、勤勉尽责的原则管理和运用基金资产，但不保证旗下基金一定盈利，也不保证最低收益。旗下基金的过往业绩及其净值高低并不预示其未来业绩表现。基金管理人提醒投资人基金投资的“买者自负”原则，在做出投资决策后，基金运营状况与基金净值变化引致的投资风险，由投资人自行负担。</div>
                  <div class="hytxnrb">（五）本公司将对基金投资人的风险承受能力进行调查和评价，并根据基金投资人的风险承受能力推荐相应的基金品种，但所做的推荐仅供投资人参考，投资人应根据自身风险承受能力选择基金产品并自行承担投资基金的风险。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">四、服务内容和收费方式</div>
                  <div class="hytxnrb">本公司向基金投资人提供以下服务：</div>
                  <div class="hytxnrb">（一）对基金投资人的风险承受能力进行调查和评价。</div>
                  <div class="hytxnrb">（二）基金销售业务，包括基金（资金）账户开户、基金申（认）购、基金赎回、基金转换、定额定投、修改基金分红方式等。本公司根据每只基金的发行公告及其它相关公告收取相应的申（认）购、赎回费和转换费。</div>
                  <div class="hytxnrb">（三）基金网上交易服务。</div>
                  <div class="hytxnrb">（四）基金净值、分红提示、交易确认等短信服务。</div>
                  <div class="hytxnrb">（五）电话咨询，热线电话400-820-2899免收长途话费，即按市话费收取。</div>
                  <div class="hytxnrb">（六）基金知识普及和风险教育。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">五、基金交易业务流程</div>
                  <div class="hytxnrb">（一）长量基金销售柜台开户、交易指南

                  1、销售柜台开户流程

                  如果投资人希望通过本公司销售柜台进行开户业务，可以直接到我公司销售中心办理开户手续。

                  销售柜台开户所需各类业务表格（请注意个人投资者与机构投资者提供的资料不同）均可以通过本公司网站下载。

                  步骤一、投资人通过我公司网站下载各类业务表格、风险承受能力调查问卷，并按照要求填写并备齐开户所需资料；

                  步骤二、带齐填好的风险承受能力调查问卷、表格及所需资料前往销售柜台办理；

                  步骤三、销售中心审核开户资料，识别客户身份无误之后，受理开户申请并打印受理单给客户；

                  2、销售柜台交易流程

                  步骤一、将填妥的交易申请表格及必备资料传真（仅限于签订传真交易协议的投资人）至销售中心或前往销售柜台办理；若开户时未填写风险承受能力调查问卷，必须补填风险承受能力调查问卷。

                  步骤二、销售中心审核交易申请无误后，受理交易申请并打印受理单给客户；

                  步骤三、传真交易的投资人须将交易申请表原件、风险承受能力调查问卷和必备资料须在规定的时间内邮寄给销售中心；

                  步骤四、销售中心根据投资人需要邮寄、传真或EMAIL相关业务凭证。

                  3、长量基金销售开放式基金销售资金账户

                  账户一：

                  户名：长量基金销售有限公司销售专户

                  账号：

                  开户行：浦发银行上海市分行喜年支行
                  </div>
                  <div class="hytxnrb">（二）长量基金销售有限公司公司网上销售开户、交易指南

                  1、开立我公司网上交易系统支持的相关银行账户（工商银行借记卡、兴业银行借记卡、建行龙卡储蓄卡、农行金穗卡、招行一卡通及上海浦发银行东方卡）并按需要开通网上银行；

                  2、登录我公司网上交易系统 进行开户业务；

                  3、输入个人身份信息以后，系统提示投资人进行风险承受能力测评，并根据测评结果划分投资人风险承受能力等级；

                  4、进行交易委托申请，如果投资人购买超过自身风险承受能力等级的基金产品，系统会提示风险，投资人可选择继续交易或放弃交易；

                  5、等待交易清算确认；

                  6、查询交易是否成功。
                  </div>
                  <div class="hytxnrb">（三）代销渠道开户、交易指南

                  基金投资人在代销机构（银行、证券公司）办理我公司基金相关业务，具体操作流程依照代销机构相关规定。
                  </div>
      
                </div>
                <div class="hxnn">
                  <div class="hytxnra">六、投诉处理和联系方式</div>
                  <div class="hytxnrb">本公司向基金投资人提供以下服务：</div>
                  <div class="hytxnrb">（一）基金投资人可以通过拨打本公司客户服务中心电话或以书信、传真、电子邮件等方式，对营业网点所提供的服务提出建议或投诉。对于工作日受理的投诉，原则上当日回复，不能当日回复的，在3个工作日内回复。对于非工作日受理的投诉，原则上在顺延的第一个工作日回复，不能及时回复的，在3个工作日内回复。

                  客服热线：400-820-2899（免长途费）

                  客服邮箱：service@erichfund.com

                  传真号码：021-20691861

                  公司网址：http://www.erichfund.com

                  邮寄地址：上海市浦东新区浦东大道555号裕景国际B座16楼

                  邮编：518035

                  （二）基金投资人也可通过书信、传真、电子邮件等方式，向中国证监会和中国证券业协会投诉。联系方式如下：

                  中国证监会深圳监管局：

                  网址：www.csrc.gov.cn

                  联系电话：0755-83263315

                  传真：0755-83260239

                  电子邮箱：shenzhen@csrc.gov.cn

                  地址：深圳市福田区笋岗西路体育大厦东座 深圳证监局

                  邮编：518028

                  中国证券业协会：网址：www.sac.net.cn

                  电子邮箱 huizhang@sac.net.cn

                  地址：北京金融街富凯大厦B座二层

                  邮编：100140。传真：010-66575896

                  电话：010-58352888（中国证券投资者呼叫中心）

                  www.sipf.com(中国证券投资者保护网)

                  （三）因基金合同而产生的或与基金合同有关的一切争议，如经协商或调解不能解决的，基金投资人可提交中国国际经济贸易仲裁委员会根据当时有效的仲裁规则进行仲裁。仲裁地点为基金合同约定的地点。仲裁裁决是终局的，对各方当事人均有约束力。 投资人在投资基金前应认真阅读《基金合同》、《招募说明书》等基金法律文件，选择与自身风险承受能力相适应的基金。本公司承诺投资人利益优先，以诚实信用、勤勉尽责的态度为投资人提供服务，但不能保证基金一定盈利，也不能保证基金的最低收益。投资人可登录中国证监会网站（www.csrc.gov.cn）或中国证券业协会网站（www.sac.net.cn）查询基金销售机构名录，核实我公司基金销售资格。

                  本公司销售人员姓名及销售人员从业证书编号：

                  本公司全称：长量基金销售投资顾问有限公司

                  负责人：张跃伟

                  网址：http://www.erichfund.com

                  客户服务中心电话：400-820-2899

                  客户服务中心传真：021-20691861

                  地址：上海市浦东新区浦东大道555号裕景国际B座16楼

                  邮编：518035
                  </div>
                </div>

              </div>
              
              </div>
            <!--投资人权益-->
            
             <!--移动客户终端基金交易插件三方协议-->

            <div class="hyxynrdv" ng-if="data.nid=='4'">
              
              <div class="hybj"></div>
              
              <div class="hyttrb">
                <span class="hytita">首席金服</span>
                <span class="hytitb">开户协议</span>
                <div class="hxnn">
                  <div class="hytxnra">甲方：投资者</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnra">乙方：资智汇乘资产管理（上海）有限公司</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">丙方：上海长量基金销售投资顾问有限公司</div>
                </div>
                        <div class="hxnn">
                  <div class="hytxnrb">三方基于平等互利、公平自愿、诚实信用原则，同意签订本协议并共同遵守，本协议是为甲、乙、丙三方之间关于甲方在乙方移动客户终端应用中使用丙方长量移动客户终端基金交易服务所订立的：</div>
                </div>

                        
                <div class="hxnn">
                  <div class="hytxnra">一、释义</div>
                  <div class="hytxnrb">1、长量移动客户终端基金交易插件（以下简称“插件”），是一组手机开发类库，目前支持iPhone和Android平台。目的是为甲方在乙方的移动客户终端上实现基金开户（开立基金账户、开立基金交易账户）、认购、申购、赎回、撤单、基金转换、分红方式设置和变更、交易密码设置和修改、账户注册资料查询及变更等业务。</div>
                    <div class="hytxnrb">2、电子交易：是指丙方按照本协议的规定，为投资者（甲方）提供的，投资者通过丙方网上交易系统从事账户管理和基金交易的行为。 </div>
                    <div class="hytxnrb">3、投资者（甲方）：指依照基金管理公司发行基金的基金合同和基金招募说明书的规定，通过丙方提供的交易系统进行电子交易的投资者。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">二、业务费用及资金清算</div>
                  <div class="hytxnrb">甲方通过丙方交易系统进行交易时需要缴纳一定比例的交易费用。包括 认/申购费、赎回费、基金转换费、转托管费等（详见丙方销售之各基金管理公司所管理的开放式基金的基金合同、基金招募说明书（或更新招募说明书））。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">三、甲方权利与义务</div>
                  <div class="hytxnrb">1、甲方已经了解并完全理解使用电子交易可能遭受的风险，并自愿承担该种风险及其可能导致的损失。</div>
                    <div class="hytxnrb">2、甲方在签订本协议之前，已经详细阅读了本协议中包括协议各方免责条款在内的所有条款，并已准确理解其含义。</div>
                    <div class="hytxnrb">3、甲方确认已详细阅读并理解、接受丙方销售之各基金管理公司所管理的开放式基金的基金合同、基金招募说明书（或更新招募说明书）、业务规则的所有内容及规定以及投资者权益须知。甲方自愿通过丙方的电子交易系统办理基金业务，并承诺上述业务视同甲方亲临丙方柜台办理。</div>
                    <div class="hytxnrb">4、甲方保证用于投资丙方销售之各基金的资金来源合法，否则由此引起的一切责任由甲方承担。</div>
                    <div class="hytxnrb">5、甲方通过乙方移动客户终端软件接受信息服务及进行相关授权后，均可在乙方移动客户终端上查询甲方通过乙方客户端发生在丙方交易系统中的交易记录以及银行卡及资产相关信息。</div>
                    <div class="hytxnrb">6、依据国家相关法律法规，甲方开立基金账户和基金交易账户时，必须提供甲方真实姓名、甲方有效的证件类型及证件号码和甲方银行结算账户信息，并接受丙方或丙方指定的合作支付机构验证身份。甲方保证所输入的信息真实、准确、完整和有效并对此承担责任，如有变化，甲方应当按丙方导引及相关业务规则及时办理变更手续。因甲方未能及时变更账户信息等有关资料所可能导致的损失由甲方承担。</div>
                    <div class="hytxnrb">7、甲方承诺独立使用本协议规定的电子交易服务，不与他人共享；甲方不利用该系统从事基金代理交易业务并从中收取任何费用。</div>
                    <div class="hytxnrb">8、甲方确保其用于电子交易的设备的安全性和可靠性。对于因甲方的设备故障、通讯故障、设备遗失、电信诈骗等原因造成的经济损失，乙方和丙方均不承担任何责任。</div>
                    <div class="hytxnrb">9、甲方应自行承担其账户信息和密码的保密义务。甲方应采取合理措施保护其账户信息和密码，不应将密码记载在任何他人可以看到的载体上，不应将账户信息和密码告知任何第三方，并应定期更换甲方的密码。甲方确认，凡是使用甲方密码所进行的一切交易申请，均被视为甲方亲自办理的有效交易申请，是甲方真实意愿的表示。甲方由于自己疏忽或其他原因致使密码失密造成的损失由甲方自己承担，乙方和丙方对此不承担任何责任。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">四、乙方权利和义务</div>
                  <div class="hytxnrb">1、乙方为甲方提供丙方交易系统的信息服务。包括交易查询、行情数据查询等。</div>
                  <div class="hytxnrb">2、乙方保证乙方软件服务和移动客户终端应用的安全性。</div>
                  <div class="hytxnrb">3、乙方向甲方提供信息服务时，需要向丙方获得甲方的相关信息资料。甲方使用乙方的服务，将视为甲方同意乙方对甲方信息的获取。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">五、丙方权利和义务</div>
                  <div class="hytxnrb">1、为了确保交易的安全性，丙方可以对插件进行更新升级。</div>
                  <div class="hytxnrb">2、丙方在乙方移动客户终端应用中向甲方提供基金交易服务和业务相关的其他服务，服务内容包括开户（开立基金账户、开立基金交易账户）、认购、申购、赎回、撤单、基金转换、分红方式设置和变更、交易密码设置和修改、基金账户与交易账户注册资料查询及变更以及将来丙方可能提供的其他网上交易服务等业务。</div>
                  <div class="hytxnrb">3、丙方将运用各种安全技术和程序建立完善的管理和风险控制制度来保护甲方的个人信息，以免遭受未经授权的访问、使用或披露。但丙方有权将从插件获得的交易账户资料同步到丙方基金交易相关的其他系统中。</div>
                  <div class="hytxnrb">4、甲方在交易过程中，丙方会以电子邮件、短信、电话的方式通知甲方交易进展情况并提示下一步操作，但不能保证甲方能够及时收到通知。</div>

                </div>

                <div class="hxnn">
                  <div class="hytxnra">六、保密条款</div>
                  <div class="hytxnrb">1、协议各方对上述保密信息负有保密义务。非因法律、法规规定并经过法定程序或者事先经过披露方书面同意，接收方不得将保密信息披露给任何第三方，或者将保密信息用于本协议以外的目的。</div>
                  <div class="hytxnrb">2、本协议项下保密信息指甲、乙、丙三方在本协议签订及履行过程中所获知的其他方任何具有机密性质的商业信息，包括但不限于各项技术、步骤、想法、图表、知识产权、交易机密、商业秘密、客户信息、数据统计资料、营销及市场策略、市场分析报告等。3、本条款保密义务为持续性义务，不因本协议的终止而终止。</div>
                
                  
                </div>

                <div class="hxnn">
                  <div class="hytxnra">七、知识产权</div>
                  <div class="hytxnrb">知识产权归依法已拥有该权利的一方所有。除非另有约定，任何一方均不可凭借本协议取得另一方所拥有的著作权、专利权、商标权或任何其他知识产权。</div>

                </div>

                <div class="hxnn">
                  <div class="hytxnra">八、违约责任</div>
                  <div class="hytxnrb">协议任何一方在本协议履行过程中违反本协议任何约定的即构成违约，违约方应承担相应违约责任，由此造成守约方损失的，违约方还应赔偿相应损失。</div>

                </div>

                <div class="hxnn">
                  <div class="hytxnra">九、免责条款</div>
                  <div class="hytxnrb">因台风、地震、海啸、洪水、战争、恐怖袭击等不可抗力事件导致任何一方不能正常履行本协议，不视为该方违约，但受不可抗力影响的一方应采取一切合理措施消除影响及防止损失的进一步扩大；不可抗力结束后，受不可抗力影响的一方应继续履行其在本协议项下的义务。</div>

                </div>
                <div class="hxnn">
                  <div class="hytxnra">十、协议的变更、解除</div>
                  <div class="hytxnrb">1、本协议在履行过程中如有未尽事宜或因业务发展需要对本协议现有内容进行补充和变更时，在不损害甲方利益的前提下，乙方和丙方保留修改或增补本协议内容的权利。本协议的修改时间和修改文本将公告于乙方的网站及营业场所，或以其他乙方和丙方认为可行的方式通知甲方。甲方在修改通知公布之日起30日内未向乙方和丙方提出书面异议，则视同甲方已经对本协议的修改时间及修改文本表示认可。但丙方增加本协议第五条所述服务内容除外。</div>
                  <div class="hytxnrb">2、除法律法规另有规定或本协议另有约定外，协议任何一方不得擅自变更或提前解除本协议。</div>
                  <div class="hytxnrb">3、本协议签署后，若有关法律、法规、规章以及基金合同、基金招募说明书、业务规则等发生变更，本协议将作相应的调整。调整前不适应的内容和条款自行失效，并按照变更后的相关法律文件的规定执行。</div>
                  <div class="hytxnrb">4、本协议在甲、乙、丙三方签署后立即生效，甲方在申请开户时，点击“同意《移动客户终端基金交易插件三方协议》”按钮，即视为对本协议的签署。</div>
                  <div class="hytxnrb">5、本协议在下述情况之一发生时终止：（1）三方签订书面协议同意终止。
                        （2）甲方死亡或不再具备相应的民事行为能力。
                        （3）甲方撤销本协议项下设立的交易账户。
                        （4）因不可抗力使本协议无法继续履行。
                        （5）一方违约，守约方书面通知对方提出解除本协议。
                        （6）法律法规、基金合同约定的其它情形。
              </div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">十一、争议解决</div>
                  <div class="hytxnrb">1、本协议应适用中华人民共和国法律（不包括香港、澳门、台湾的法律等法律文件爱你），并根据其进行解释。</div>
                  <div class="hytxnrb">2、本协议履行过程中发生争议，应由甲、乙、丙三方本着友好、互利的原则协商解决。如协商不成，应将争议提交丙方所在地人民法院诉讼解决。</div>
                </div>

                <div class="hxnn">
                  <div class="hytxnra">十二、其他事项</div>
                  <div class="hytxnrb">1、如果本协议的任何条款或任何部分被认定为无效、不合法或不可执行，本协议中剩余条款的效力、合法性或可执行性不受影响或被削弱。</div>
                  <div class="hytxnrb">2、本协议及其附件构成协议各方就本协议主体事项达成的独立协议，应当替代以前的所有协议或任何其他口头或书面承诺。</div>
                  <div class="hytxnrb">3、本协议的任何内容不应视为在协议各方之间存在为了任何目的的合伙、合资或代理关系。</div>
                  <div class="hytxnrb">4、未经书面表示弃权和变更，协议各方不能被视为放弃和变更各自的权利(包括法定和约定的权利)；任何一方未能行使或迟延行使某项权利的行为不应视为该方对该项权利的放弃或变更；任何一方保守行使或部分行使某项权利的行为不应妨碍该方以后对该项权利其他部分的行使。</div>
                  <div class="hytxnrb">5、除非协议其他方书面同意，任何一方都不能将其在本协议项下的任何权利和义务转让给协议以外的第三方。</div>
                  <div class="hytxnrb">6、本协议壹式叁份，甲、乙、丙三方各执壹份，每份具有同等法律效力。</div>

                </div>
                
              </div>
              
              </div>
            
            <!--移动客户终端基金交易插件三方协议-->



      </div> <!--main1-->
    </ion-content>
  
</ion-view>
