 
<ion-view class="booking-view">
 

    <ion-content>
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">


                        
            <!--会员服务协议-->
            
            <div class="hyxynrdv">
              
              <div class="hybj"></div>
              
              <div class="hyttrb">
                <span class="hytita">首席金服</span>
                <span class="hytitb">会员服务协议</span>
                <div class="hxnn">
                  <div class="hytxnra">1、特别提醒</div>
                  <div class="hytxnrb">1.1 您确认，在您注册成为资智汇乘资产管理（上海）有限公司所属“首席金服”信息中介服务平台的会员或使用、接受首席金服的服务之前，<span>您已充分阅读、理解并接受本协议的全部内容，并同意遵循本协议的所有约定。</span></div>
                    <div class="hytxnrb">1.2 您同意，首席金服有权随时对本协议内容进行单方面的变更，并在首席金服平台上以公告的方式予以公布，无需另行单独通知您。</div>
                    <div class="hytxnrb">1.3 若您在本协议内容公告变更后继续使用、接受首席金服的服务，表示您已充分阅读、理解并接受修改后的协议内容，并同意遵循修改后协议的所有约定；若您不同意修改后的协议内容，您应当立即停止使用首席金服的服务。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">2、定义</div>
                  <div class="hytxnrb">2.1“首席金服”是由资智汇乘资产管理（上海）有限公司运营的信息中介服务平台（网址：www.global-ifa.com）。</div>
                    <div class="hytxnrb">2.2“首席金服会员”指遵守本协议约定，通过首席金服平台注册进行相关金融理财的用户。如法规和监管规定有进一步调整，首席金服会员需配合首席金服进行必要的核查与整改。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">2、定义</div>
                  <div class="hytxnrb">2.1“首席金服”是由资智汇乘资产管理（上海）有限公司运营的信息中介服务平台（网址：www.global-ifa.com）。</div>
                    <div class="hytxnrb">2.2“首席金服会员”指遵守本协议约定，通过首席金服平台注册进行相关金融理财的用户。如法规和监管规定有进一步调整，首席金服会员需配合首席金服进行必要的核查与整改。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">2、定义</div>
                  <div class="hytxnrb">2.1“首席金服”是由资智汇乘资产管理（上海）有限公司运营的信息中介服务平台（网址：www.global-ifa.com）。</div>
                    <div class="hytxnrb">2.2“首席金服会员”指遵守本协议约定，通过首席金服平台注册进行相关金融理财的用户。如法规和监管规定有进一步调整，首席金服会员需配合首席金服进行必要的核查与整改。</div>
                </div>
                <div class="hxnn">
                  <div class="hytxnra">2、定义</div>
                  <div class="hytxnrb">2.1“首席金服”是由资智汇乘资产管理（上海）有限公司运营的信息中介服务平台（网址：www.global-ifa.com）。</div>
                    <div class="hytxnrb">2.2“首席金服会员”指遵守本协议约定，通过首席金服平台注册进行相关金融理财的用户。如法规和监管规定有进一步调整，首席金服会员需配合首席金服进行必要的核查与整改。</div>
                </div>
              </div>
              
              </div>
            
            <!--会员服务协议-->
          



      </div> <!--main1-->
    </ion-content>
  
</ion-view>
