

<ion-view class="booking-view">


    <ion-content>
     <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

          <div class="gnr2dadv"><!--内容右侧开始-->

              <div class="gnr2ma" > 
                   <div class="gnr2nrb"><!--已完成订单-s-->
                     
                       <div class="gnr2nrbtp" ng-if="data.order.state.toLowerCase()=='completed' && data.order.product.type!='PublicFund'">
                          <span>交易状态：{{data.orderState[data.order.state.toLowerCase()].name}}</span>
                       </div>

                       <div class="gnr2nrbtp" ng-if="data.order.state.toLowerCase()!='completed' && data.order.product.type!='PublicFund'">
                          <span>交易状态：{{data.orderState['todo'].name}}</span>
                       </div>
                       
                       <div class="gnr2nrbtp" ng-if="data.order.product.type=='PublicFund'">
                          <span>交易状态：{{data.orderState[data.order.state.toLowerCase()].name}}</span>
                       </div>

                       <div class="gnr2nrbbm">


                         <div class="gnr2nrblef" ng-if="data.order.state.toLowerCase()=='completed' && data.order.product.type!='PublicFund'">
                            <div><img src="{{data.orderState[data.order.state.toLowerCase()].image}}" title="" alt="" /></div>
                            <em>{{data.orderState[data.order.state.toLowerCase()].name}}</em>
                         </div>
                          <div class="gnr2nrblef" ng-if="data.order.state.toLowerCase()!='completed' && data.order.product.type!='PublicFund'">
                            <div><img src="{{data.orderState['todo'].image}}" title="" alt="" /></div>
                            <em>{{data.orderState['todo'].name}}</em>
                         </div>
                         

                         <ul class="gnr2nrbbmrig" ng-if="data.order.product.type!='PublicFund'">
                           <li><span>投资金额(元)</span>  <em>{{data.order.quota}}</em></li>
                           <li><span>投资收益(元)</span>  <em>待计算</em></li>
                           <li ng-if="enableCommission()"><span>佣金收益(元)</span>  <em>待计算</em></li>
                         </ul>

                         <ul class="gnr2nrbbmrig" ng-if="data.order.product.type=='PublicFund'" style="width:99%">
                           <li><span>持有份额(份)</span>  <em>{{data.order.extra.balance}}</em></li>
                           <li><span>期末市值(元)</span>  <em>{{data.order.extra.marketValue}}</em></li>
                           <li><span>基金净值(元)</span>  <em>{{data.order.extra.fundNav}}</em></li>
                           <li><span>可用份额(份)</span>  <em>{{data.order.extra.usableShare}}</em></li>
                           <li><span>冻结份额(份)</span>  <em>{{data.order.extra.freezerShare}}</em></li>
                           <li><span>在途资金(元)</span>  <em>{{data.order.extra.underwayAmount}}</em></li>
                           <li ng-if="enableCommission()"><span>佣金收益(元)</span>  <em>待计算</em></li>
                         </ul>
                         
                       </div>
                   </div><!--已完成订单-e-->
                   
                   
                      <div class="twtwdv" ng-click="showProduct(data.order.product)">
                        <!--<div class="twtwdvf"><img src='teImg/gnr2rabm3.png' /></div>-->
                        <div class="twtwdvf"><img src='{{data.productType[data.order.product.type.toLowerCase()].image}}' /> <em>{{data.productType[data.order.product.type.toLowerCase()].name}}</em></div>
                        <span>{{data.order.product.name}}</span>
                      </div>   


                  
                  <div class="ddxqxx"><!--订单信息-s-->
                     <span>交易信息</span>
                     <p>
                        <em>交易编号：{{data.order.id}}</em>
                        <em>客户姓名：{{data.order.customer.fullname}}</em>
                        <em>创建时间：{{data.order.timestamp | date:'yy-MM-dd  hh:mm:ss'}}</em>
                     </p>
                   
                  </div><!--订单信息-e-->

                  <div class="ddxqxx" ng-if="data.order.product.type=='PublicFund'"><!--订单信息-s-->
                     <span>历史交易记录</span>
                     <p ng-repeat="hist in data.order.histories">
                        <em>时间：{{hist.timestamp | date:'yyyy-MM-dd  hh:mm:ss'}}</em>
                        <em>交易金额：{{hist.quota}}</em>
                     </p>
                     <!--
                     <p>
                        <em>时间：2015-12-04 12:00:00</em>
                        <em>交易金额：10000</em>
                     </p>-->
                   
                  </div><!--订单信息-e-->

                  <a ng-if="data.order.product.type=='PublicFund'" ng-click='redeemPublicFund()' class="jnwfgma">赎回</a>

              </div>

           </div><!--内容右侧结束-->
      </div> <!--main1-->


       

    </ion-content>
  
</ion-view>







