<ion-view class="booking-view">

  	<ion-content>
    
      <div class="cstestlef"><!-- 财商测试左边25%-->  
            
              <div class="cststlogo" ng-click="goBack()"><img src="teImg/lnlogo.png" title=""/></div>
              <a class="cststlfnr" ng-click="goBack()">
                hello tyson
              </a>
              <div class="cststmbj"><img src="teImg/lnbombj.png"/> </div>
        </div><!-- 财商测试左边25%-->  

    </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







