

<ion-view class="booking-view">


    <ion-content>
     <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

          <div class="gnr2dadv"><!--内容右侧开始-->

              <div class="gnr2ma" > 
                   <div class="gnr2nrb"><!--已完成订单-s-->
                     
                       <div class="gnr2nrbtp" ng-if="data.order.state.toLowerCase()=='completed'">
                          <span>交易状态：{{data.orderState[data.order.state.toLowerCase()].name}}</span>
                       </div>

                       <div class="gnr2nrbtp" ng-if="data.order.state.toLowerCase()!='completed'">
                          <span>交易状态：{{data.orderState['todo'].name}}</span>
                       </div>
                       
                       <div class="gnr2nrbbm">
                         <div class="gnr2nrblef" ng-if="data.order.state.toLowerCase()=='completed'">
                            <div><img src="{{data.orderState[data.order.state.toLowerCase()].image}}" title="" alt="" /></div>
                            <em>{{data.orderState[data.order.state.toLowerCase()].name}}</em>
                         </div>
                          <div class="gnr2nrblef" ng-if="data.order.state.toLowerCase()!='completed'">
                            <div><img src="{{data.orderState['todo'].image}}" title="" alt="" /></div>
                            <em>{{data.orderState['todo'].name}}</em>
                         </div>
                         
                         <ul class="gnr2nrbbmrig">
                           <li><span>投资金额(元)</span>  <em>30000</em></li>
                           <li><span>投资收益(元)</span>  <em>待计算</em></li>
                           <li ng-if="enableCommission()"><span>佣金收益(元)</span>  <em>待计算</em></li>
                         </ul>
                         
                       </div>
                   </div><!--已完成订单-e-->
                   
                   
                      <div class="twtwdv">
                        <!--<div class="twtwdvf"><img src='teImg/gnr2rabm3.png' /></div>-->
                        <div class="twtwdvf"><img src='{{data.productType[data.order.product.type.toLowerCase()].image}}' /> <em>{{data.productType[data.order.product.type.toLowerCase()].name}}</em></div>
                        <span>{{data.order.product.name}}</span>
                      </div>   


                  
                  <div class="ddxqxx"><!--订单信息-s-->
                     <span>交易信息</span>
                     <p>
                        <em>交易编号：{{data.order.id}}</em>
                        <em>客户姓名：{{data.order.customer.fullname}}</em>
                        <em>创建时间：2015-08-08</em>
                     </p>
                   
                  </div><!--订单信息-e-->
              </div>

           </div><!--内容右侧结束-->
      </div> <!--main1-->


       

    </ion-content>
  
</ion-view>







