<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    

      <!--
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">例子<span class="text-muted">（目前仅支持单例）</span></label>
                    <div class="col-sm-6">
                        <input select-address p="p" c="c" a="a" d="d" ng-model="xxx" placeholder="请选择所在地" type="text" class="form-control" />
                    </div>
                </div>
            </form>
           



      </div> <!--main1-->
    </ion-content>
  
</ion-view>







