<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    

      <!--
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

 
              <!--发现境内列表11.7-->
            <div class="gmnydv">
              <div class="jnxqtopr1"><span>全方位量身定制专属定制理财规划事业一对一服务</span><em></em></div>
              <div class="gmfw1">
                 <span>最新净值<em>1.039</em></span>
                 <span>累计净值<em>1.232</em></span>
                 <span>申购费率<em>18</em>%</span>
              </div>
              <span class="gmtit">产品说明：</span>
              <div class="gmlbdv">
                <span>最近一周收益率：<em>-6.61%</em></span>
                <span>最近一月收益率：<em>-14.88%</em></span>
                <span>最近三月收益率：<em>-6.61%</em></span>
                <span>最近一年收益率：<i>28.53%</i></span>
                <span>最近三年收益率：<i>28.53%</i></span>
                <span>今年以来收益率：<i>28.53%</i></span>
                <span>成立以来收益率：<i>28.53%</i></span>
              </div>
              <a href="" class="jnwfgma">立即购买</a>
            </div>
            
            
            <div class="jnfwyj2dv">
                <div class="jnfw2yy"></div>
                <div class="jnfw2d">


                  <a href="" ng-class="{'jnfwcs': isDetail(1)}" ng-click="showDetail(1)">产品详情</a>
                  <a href="" ng-class="{'jnfwcs': isDetail(2)}" ng-click="showDetail(2)">资源配置</a>
                  <a href="" ng-class="{'jnfwcs': isDetail(3)}" ng-click="showDetail(3)">走势图</a>
                </div>
                
                <div class="jnfw2zt" ng-if="isDetail(1)">
                   <div class="jnfw2zta">
                     <span>产品全称</span>
                     <em>景顺长城品质投资混合</em>
                     <span>基金代码</span>
                     <em>000020</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>产品全称</span>
                     <em>景顺长城品质投资混合</em>
                     <span>基金代码</span>
                     <em>000020</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>产品全称</span>
                     <em>景顺长城品质投资混合</em>
                     <span>基金代码</span>
                     <em>000020</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>产品全称</span>
                     <em>景顺长城品质投资混合</em>
                     <span>基金代码</span>
                     <em>000020</em>
                   </div>
                   
                   <div class="jnfw2ztb">
                     <span>产品全称</span>
                     <i>通过采用品质投资(Quality investing)策略，投资于具备卓越企业品质资质的公司，分享其在中国经济增长的大背景下的可持续性增长，以实现基金资产的长期资本增值。</i>
                   </div>
                   <div class="jnfw2ztb">
                     <span>产品全称</span>
                     <i>1、资产配置 本基金依据定期公布的宏观和金融数据以及投资部门对于宏观经济、股市政策、市场趋势的综合分析，运用宏观经济模型(MEM)做出对于宏观经济的评价，结合基金合同、投资制度的要求提出资产配置建议，经投资决策委员会审核后形成资产配置方案。 2、股票投资策略 本基金股票投资主要遵循"自下而上"的个股投资策略，利用基金管理人股票研究数据库(SRD)对企业进行深入细致的分析，并进一步挖掘出具有较强品质资质的公司，并辅以财务指标进行品质投资分析。 2.1、股票研究数据库(SRD) 首先利用景顺长城"股票研究数据库(SRD)"中的标准分析模板对上市公司的品质和估值水平进行鉴别，制定股票买入名单。其中重点考察： (1)业务价值(Franchise Value) 寻找拥有高进入壁垒的上市公司，其一般具有以下一种或多种特征：产品定价能力、创新技术、资金密集、优势品牌、健全的销售网络及售后服务、规模经济等。在经济增长时它们能创造持续性的成长，经济衰退时亦能度过难关，享有高于市场平均水平的盈利能力，进而创造高业务价值，达致长期资本增值。 (2)估值水平(Valuation) 对成长、价值、收益三类股票设定不同的估值指标。 成长型股票(G)：用来衡量成长型上市公司估值水平的主要指标为PEG，即市盈率除以盈利增长率。为了使投资人能够达到长期获利目标，基金管理人在选股时将会谨慎地买进价格与其预期增长速度相匹配的股票。 价值型股票(V)：分析股票内在价值的基础是将公司的净资产收益率与其资本成本进行比较。在挑选价值型股票时，基金管理人会根据公司的净资产收益率与资本成本的相对水平判断公司的合理价值，然后选出股价相对于合理价值存在折扣的股票。 收益型股票(I)：是依靠分红取得较好收益的股票。基金管理人挑选收益型股票，要求其保持持续派息的政策，以及较高的股息率水平。 (3)管理能力(Management) 注重公司治理、管理层的稳定性以及管理班子的构成、学历、经验等，了解其管理能力以及是否诚信。 (4)自由现金流量与分红政策(Cash Generation Capability) 注重企业创造现金流量的能力以及稳定透明的分红派息政策。 2.2、 品质投资分析 基金管理人认为，所谓"品质投资"</i>
                   </div>
                   
                </div>

                <div class="jnfw2zt" ng-if="isDetail(2)">

                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合资产配置</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwsp1"><em>序号</em> <em>资产名称</em> <em>金额(万元)</em> <em>占净值比例(%)</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                  
                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合2015年2季度十大重仓股</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwspb1"><em>序号</em> <em>股票代码</em> <em>股票名称</em> <em>持有股数(万股) </em>
                    <em>持有市值(万元) </em> <em>占净资产比例(%)</em> <em>较上期增减(股) </em></span>
                    <span class="jnfwspb2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>


                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合2015年2季度十大重仓股</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwspc1"><em>序号</em> <em>股票代码</em> <em>股票名称</em> <em>持有股数(万股) </em>
                    <em>持有市值(万元) </em>  <em>较上期增减(股) </em></span>
                    <span class="jnfwspc2"><em>1</em>  <em>1312424</em> <em>1412%</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                 
                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合资产配置</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwsp1"><em>序号</em> <em>资产名称</em> <em>金额(万元)</em> <em>占净值比例(%)</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                
                
                
                
                
                  <span class="fhwwt">长盛电子信息产业混合2015年2季度行业持仓明细</span>
                  <em class="fhwjtn">本基金股票资产占基金资产的比例不低于60%，其中，投资于基金合同界定的信息产业股票资产占非现金基金资产的比例不低于80%。基金三季报披露的仓位在八成左右。</em>
                </div>

                <div class="jnfw2zt" ng-if="isDetail(3)">
                      <flot dataset="dataset" options="options" height="480px"></flot>
                      <div id="legend" style="width: 200px; height: 200px;"></div>
                </div>
            </div>
           


      </div> <!--main1-->
    </ion-content>
  
</ion-view>







