<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
      <div class="main1">

 
          <div class="gmlbtopp">
              <a href="">全部</a>
              <a href="">偏股</a>
              <a href="">股票</a>
              <a href="">混合</a>
              <a href="">债券</a>
              <a href="">货币</a>
              <a href="">指数</a>
              <a href="">保本</a>
              <a href="">理财</a>
              <a href="">更多</a>
           </div>
          
           
           <div class="gmlbnr2p">
              <div class="gmgmff1">
                <a href="" style="width:25%;">基金名称</a>
                <a href="">单位净值</a>

                <a href="" ng-click="sortKey(1)">近1周
                  <span class="gmlbzzjtbj" ng-if="data.key==1"></span>
                </a>
                <a href="" ng-click="sortKey(2)">近1月
                  <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
                </a>
                <a href="" ng-click="sortKey(3)">近3月
                  <span class="gmlbzzjtbj" ng-if="data.key==3"></span>
                </a>
                <a href="" ng-click="sortKey(4)">近6月
                  <span class="gmlbzzjtbj" ng-if="data.key==4"></span>
                </a>
                <a href="" ng-click="sortKey(5)">今年来
                  <span class="gmlbzzjtbj" ng-if="data.key==5"></span>
                </a>
                <a href="" ng-click="sortKey(6)">近1年
                  <span class="gmlbzzjtbj" ng-if="data.key==6"></span>
                </a>
                <a href="" ng-click="sortKey(7)">近2年
                  <span class="gmlbzzjtbj" ng-if="data.key==7"></span>
                </a>
              </div>
              <div class="gmgmrr1">
                <a href="">操作</a>
              </div>
           </div>


           <div class="gmlbnrdv">
            <div class="gmgmff">
             <i>长信金立趋势混合长信金立趋势混合</i>
             <span><em>1.3000</em><i>15-10-29</i></span>
             <span>10.60%</span>
             <span>10.50%</span>
             <em class="curgreen"> -3.60%</em>
             <span>10.60%</span>
             <em class="curgreen">-13.60%</em>
             <span>10.22% </span>
             <span>10.60%</span>
            </div>
             <div class="gmgmrr">
               <a href="">购买</a>
             </div>
           </div>

           <div class="gmlbnrdv">
            <div class="gmgmff">
             <i>长信金立趋势混合长信金立趋势混合</i>
             <span><em>1.3000</em><i>15-10-29</i></span>
             <span>10.60%</span>
             <span>10.50%</span>
             <em class="curgreen"> -3.60%</em>
             <span>10.60%</span>
             <em class="curgreen">-13.60%</em>
             <span>10.22% </span>
             <span>10.60%</span>
            </div>
             <div class="gmgmrr">
               <a href="">购买</a>
             </div>
           </div>
         
           <div class="gmlbnrdv">
            <div class="gmgmff">
             <i>长信金立趋势混合长信金立趋势混合</i>
             <span><em>1.3000</em><i>15-10-29</i></span>
             <span>10.60%</span>
             <span>10.50%</span>
             <em class="curgreen"> -3.60%</em>
             <span>10.60%</span>
             <em class="curgreen">-13.60%</em>
             <span>10.22% </span>
             <span>10.60%</span>
            </div>
             <div class="gmgmrr">
               <a href="">购买</a>
             </div>
           </div>



      </div> <!--main1-->
    </ion-content>
  
</ion-view>







