<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    

      <!--
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

 
              <!--发现境内列表11.7-->
            <div class="gmnydv">
              <div class="jnxqtopr1"><span>{{data.product.data.fundName}}</span>

                <p ng-if="!currentLiked" ng-click='likeIt(data.product.data)'></p>
                <em ng-if="currentLiked"></em>

              </div>
              <div class="gmfw1">
                 <span>最新净值<em>{{data.product.data.fundNavNewest.nav}}</em></span>
                 <span>累计净值<em>1.232</em></span>
                 <span>申购费率<em>18</em>%</span>
              </div>
              <span class="gmtit">产品说明：</span>
              <div class="gmlbdv">
                <span>最近一周收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.weekRate<0}">{{data.product.data.fundNavNewest.weekRate*100|number:2}}%</i></span>
                <span>最近一月收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.monRate1<0}" >{{data.product.data.fundNavNewest.monRate1*100|number:2}}%</i></span>
                <span>最近三月收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.monRate3<0}">{{data.product.data.fundNavNewest.monRate3*100|number:2}}%</i></span>
                <span>最近一年收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.yearRate1<0}">{{data.product.data.fundNavNewest.yearRate1*100|number:2}}%</i></span>
                <span>最近三年收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.yearRate3<0}">{{data.product.data.fundNavNewest.yearRate3*100|number:2}}%</i></span>
                <span>今年以来收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.yearRate0<0}">{{data.product.data.fundNavNewest.yearRate0*100|number:2}}%</i></span>
                <span>成立以来收益率：<i ng-class="{curgreen: data.product.data.fundNavNewest.sumRate<0}">{{data.product.data.fundNavNewest.sumRate*100|number:2}}%</i></span>
              </div>
              <a ng-click='buy(productId, data.product.data.fundId)' class="jnwfgma">立即购买</a>
            </div>
            
            
            <div class="jnfwyj2dv">
                <div class="jnfw2yy"></div>
                <div class="jnfw2d">

                  <a href="" ng-class="{'jnfwcs': isDetail(1)}" ng-click="showDetail(1)">产品详情</a>
                  <a href="" ng-class="{'jnfwcs': isDetail(2)}" ng-click="showDetail(2)">资源配置</a>
                  <a href="" ng-class="{'jnfwcs': isDetail(3)}" ng-click="showDetail(3)">走势图</a>
                </div>
                
                <div class="jnfw2zt" ng-if="isDetail(1)">
                   <div class="jnfw2zta">
                     <span>产品全称</span>
                     <em>{{data.product.data.fundName}}</em>
                     <span>基金代码</span>
                     <em>{{data.product.data.fundNavNewest.fundId}}</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>基金类型</span>
                     <em>{{data.product.data.fundType}}</em>
                     <span>成立日期</span>
                     <em>{{data.product.data.setupDate | date: 'yyyy-MM-dd' }}</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>首募规模(元) </span>
                     <em>{{data.product.data.setupSize}}</em>
                     <span>风险等级</span>
                     <em>{{data.product.data.riskLevel}}</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>基金公司</span>
                     <em>{{data.product.data.companyId}}</em>
                     <span>基金经理</span>
                     <em>{{data.product.data.managers | managerNameFilter}}</em>
                   </div>
                   <div class="jnfw2zta">
                     <span>托管银行</span>
                     <em>{{data.product.data.tgh}}</em>
                     <span>最新规模</span>
                     <em>{{data.product.data.zxgm}}</em>
                   </div>
                   
                   <div class="jnfw2ztb">
                     <span>投资目标</span>
                     <i>{{data.product.data.investGoal}}</i>
                   </div>
                   <div class="jnfw2ztb">
                     <span>投资范围</span>
                     <i>{{data.product.data.investRange}}</i>
                   </div>
                   <div class="jnfw2ztb">
                     <span>风险收益特征</span>
                     <i>{{data.product.data.riskFeature}}</i>
                   </div>
                   <div class="jnfw2ztb">
                     <span>投资策略</span>
                     <i>{{data.product.data.investPlot}}</i>
                   </div>
                   
                </div>

                <div class="jnfw2zt" ng-if="isDetail(2)">

                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合资产配置</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwsp1"><em>序号</em> <em>资产名称</em> <em>金额(万元)</em> <em>占净值比例(%)</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                  
                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合2015年2季度十大重仓股</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwspb1"><em>序号</em> <em>股票代码</em> <em>股票名称</em> <em>持有股数(万股) </em>
                    <em>持有市值(万元) </em> <em>占净资产比例(%)</em> <em>较上期增减(股) </em></span>
                    <span class="jnfwspb2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>


                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合2015年2季度十大重仓股</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwspc1"><em>序号</em> <em>股票代码</em> <em>股票名称</em> <em>持有股数(万股) </em>
                    <em>持有市值(万元) </em>  <em>较上期增减(股) </em></span>
                    <span class="jnfwspc2"><em>1</em>  <em>1312424</em> <em>1412%</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                 
                  <div class="jnfwtit">
                     <span>长盛电子信息产业混合资产配置</span>
                     <div class="jnfwtr">
                        <span></span>
                        <em>请选择截止日期：</em>
                        <select>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                           <option>2015-01-30</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="jnfw3dv">
                    <span class="jnfwsp1"><em>序号</em> <em>资产名称</em> <em>金额(万元)</em> <em>占净值比例(%)</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                    <span class="jnfwsp2"><em>1</em> <em>股票</em> <em>1312424</em> <em>1412%</em></span>
                  </div>
                
                
                
                
                
                  <span class="fhwwt">长盛电子信息产业混合2015年2季度行业持仓明细</span>
                  <em class="fhwjtn">本基金股票资产占基金资产的比例不低于60%，其中，投资于基金合同界定的信息产业股票资产占非现金基金资产的比例不低于80%。基金三季报披露的仓位在八成左右。</em>
                </div>

                <div class="jnfw2zt" ng-if="isDetail(3)">
                      <flot dataset="dataset" options="options" height="480px"></flot>
                      <div id="legend" style="width: 200px; height: 200px;"></div>
                </div>
            </div>
           


      </div> <!--main1-->
    </ion-content>
  
</ion-view>







