<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    
    <ion-refresher
              refreshing-text="数据正在加载中..."
              pulling-icon="ion-ios-arrow-down"
              spinner="bubbles"
              pulling-text="下拉刷新"
              on-refresh="doRefresh()">
      </ion-refresher>
      <!--
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">

 
          <div class="gmlbtopp">

              <a ng-repeat="type in data.subTypes" href="" ng-class="{'tjtjtew': data.currentSubType=='{{type.key}}'}" ng-click="showSubType(type.key)">
                {{type.name}}
              </a>
              <!--<a href="" class="tjtjtew">全部</a>-->
           </div>
          
           
           <div class="gmlbnr2p">
              <div class="gmgmff1">
                <a href="" style="width:23%;">基金名称</a>
             
                <a href="" ng-click="sortKey(8)">单位净值
                  <span class="gmlbzzjtbj" ng-if="data.key==8"></span>
                </a>

                <a href="" ng-click="sortKey(1)">近1周
                  <span class="gmlbzzjtbj" ng-if="data.key==1"></span>
                </a>
                <a href="" ng-click="sortKey(2)">近1月
                  <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
                </a>
                <a href="" ng-click="sortKey(3)">近3月
                  <span class="gmlbzzjtbj" ng-if="data.key==3"></span>
                </a>
                <a href="" ng-click="sortKey(4)">近6月
                  <span class="gmlbzzjtbj" ng-if="data.key==4"></span>
                </a>
                <a href="" ng-click="sortKey(5)">今年来
                  <span class="gmlbzzjtbj" ng-if="data.key==5"></span>
                </a>
                <a href="" ng-click="sortKey(6)">近1年
                  <span class="gmlbzzjtbj" ng-if="data.key==6"></span>
                </a>
                <a href="" ng-click="sortKey(7)">近2年
                  <span class="gmlbzzjtbj" ng-if="data.key==7"></span>
                </a>
              </div>
              <div class="gmgmrr1">
                <a href="">操作</a>
              </div>
           </div>


           <div class="gmlbnrdv" ng-repeat="product in data.category.products.data" ng-click="goPublicFundDetail(product.partnerFundId)">
            <div class="gmgmff">
             <i>{{product.name}}</i>
             <span><em>{{product.fundNavNewest.nav}}</em><i>{{product.fundNavNewest.endDate | date:"yyyy-MM-dd"}}</i></span>
             <span>{{product.fundNavNewest.weekRate*100|number:2}}%</span>
             <span>{{product.fundNavNewest.monRate1*100|number:2}}%</span>
             <em class="curgreen"> {{product.fundNavNewest.monRate3*100|number:2}}%</em>
             <span>10.60%</span>
             <em class="curgreen">-13.60%</em>
             <span>10.22% </span>
             <span>10.60%</span>
            </div>
             <div class="gmgmrr">
               <a href="">购买</a>
             </div>
           </div>

           



      </div> <!--main1-->

  <ion-infinite-scroll
    ng-if="data.more" 
    on-infinite="loadMore()" 
    immediate-check="false"
    distance="1%"><p>小金奋力加载中...</p>
  </ion-infinite-scroll>

    </ion-content>
  
</ion-view>







