 
<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">


 <!--发现境内列表11.5-->
            <div class="jnxqtop">
              <div class="jnxqtopimg"><img src="teImg/jnlbimg1.jpg" /></div>
              <div class="jnxqtopr">
                 <div class="jnxqtopr1"><i class="xxlniuhuang1"></i><span>全方位量身定制专属定制理财规划事业一对一服务</span><p></p></div>
                 <span>ifa专业指导委员会由具有丰富金融理财从业经验及在学术界广受好评，具有很高的社会责任感和职业道德。</span>
                 <a href="">预约产品</a>
              </div>
            </div>
            
            
            <div class="xqmmdv">
              <div class="xqmmdvbj"></div>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
              <p>全新的自由人生IFA联盟在FPSB China的引领下应运而生。从客户的利益出发，，一切以客户利益为先，为客户提供专业综合的理财规划服务，成就自由、自主、自在的理财事业，这就是独立财富顾问（英文Independent Financial Advisor，简称IFA）。</p>
            
            </div>
            
            
            <!--发现境内列表11.5-->  

      </div> <!--main1-->
    </ion-content>
  
</ion-view>
