 
<ion-view class="booking-view">
  <!-- <a href="" ng-class="{'curshi': data.key==2}" ng-click="sortKey(2)">近1月
                <span class="gmlbzzjtbj" ng-if="data.key==2"></span>
              </a>-->

    <ion-content>
    <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
      <div class="main1">


 <!--发现境内列表11.5-->
            <div class="jnxqtop">
              <div class="jnxqtopimg"><img ng-cache ng-src="{{product | productImageFilter}}" /></div>
              <div class="jnxqtopr">
                 <div class="jnxqtopr1">
                  <p ng-if="!currentLiked" class="xxlniuhuang1" ng-click="likeIt(product)"></p>
                  <i ng-if="currentLiked" class="xxlniuhuang1"></i>
                  <span>{{product.name}}<em ng-if="data.commissionCtrl.enabled"> (返佣比例 <i>{{product.commissionRate}}%</i>)</em></span>
                 </div>
               
                 <span>{{product.summary}}</span>

                 <a href="" ng-click="data.optionOperation.action()">{{data.optionOperation.name}}</a>
                 <!--<a href="">预约产品</a>-->
              </div>
            </div>
            
            
            <div class="xqmmdv">
              <div class="xqmmdvbj"></div>
              <p>
                {{product.description}}
              </p>
            
            </div>
            
            
            <!--发现境内列表11.5-->  

      </div> <!--main1-->
    </ion-content>
  
</ion-view>
